include ../../components/_ui/buttons/main-btn/btn
.base-title Кнопки

.ui__section-field
  span.base-text .burger
    include ../../components/_ui/buttons/burger/burger

span.base-subtitle Кнопки действия
.ui__section-field
  span.base-text .btn .btn-search
  +main-btn({
    tag: 'a',
    href: '#',
    cls: 'btn-search',
    icon: 'search'
  })
.ui__section-field
  span.base-text .btn .btn-cart-wide
  +main-btn({
    tag: 'button',
    cls: 'btn-cart-wide',
    title: 'Добавить в корзину',
    icon: 'cart' 
  })
.ui__section-field
  span.base-text .btn .btn-search
  +main-btn({
    tag: 'a',
    href: '#',
    cls: 'btn-search',
    icon: 'search'
  })
.ui__section-field
  span.base-text .btn .btn-user
  +main-btn({
    tag: 'a',
    href: '#',
    cls: 'btn-user',
    icon: 'user'
  })
.ui__section-field
  span.base-text .btn .btn-fav
  +main-btn({
    tag: 'a',
    href: '#',
    cls: 'btn-fav',
    icon: 'fav'
  })

span.base-subtitle .btn-transparent
.ui__section-field
  span.base-text .btn .btn-transparent
  +main-btn({
    tag: 'a',
    href: '#',
    title: 'Мужчинам',
    cls: 'btn-transparent',
    icon: 'arrow-up'
  })
.ui__section-field
  span.base-text .btn .btn-transparent
  +main-btn({
    tag: 'a',
    href: '#',
    title: 'Мужчинам',
    cls: 'btn-transparent',
  })
.ui__section-field
  span.base-text .btn .btn-transparent .wide
  +main-btn({
    tag: 'a',
    href: '#',
    title: 'Мужчинам',
    cls: 'btn-transparent wide',
  })
.ui__section-field
  span.base-text .btn .btn-transparent .reversed
  +main-btn({
    tag: 'a',
    href: '#',
    title: 'Мужчинам',
    cls: 'btn-transparent reversed',
    icon: 'arrow-up'
  })

span.base-subtitle .btn-light
.ui__section-field
  span.base-text .btn .btn-light
  +main-btn({
    tag: 'a',
    href: '#',
    title: 'Мужчинам',
    cls: 'btn-light',
    icon: 'arrow-up'
  })
.ui__section-field
  span.base-text .btn .btn-light
  +main-btn({
    tag: 'a',
    href: '#',
    title: 'Мужчинам',
    cls: 'btn-light',
  })
.ui__section-field
  span.base-text .btn .btn-light .wide
  +main-btn({
    tag: 'a',
    href: '#',
    title: 'Мужчинам',
    cls: 'btn-light wide',
  })
.ui__section-field
  span.base-text .btn .btn-light .reversed
  +main-btn({
    tag: 'a',
    href: '#',
    title: 'Мужчинам',
    cls: 'btn-light reversed',
    icon: 'arrow-up'
  })

span.base-subtitle .btn-primary
.ui__section-field
  span.base-text .btn .btn-primary
  +main-btn({
    tag: 'a',
    href: '#',
    title: 'Мужчинам',
    cls: 'btn-primary',
    icon: 'arrow-up'
  })
.ui__section-field
  span.base-text .btn .btn-primary .reversed
  +main-btn({
    tag: 'a',
    href: '#',
    title: 'Мужчинам',
    cls: 'btn-primary reversed',
    icon: 'arrow-up'
  })
.ui__section-field
  span.base-text .btn .btn-primary .wide
  +main-btn({
    tag: 'a',
    href: '#',
    title: 'Мужчинам',
    cls: 'btn-primary wide',
    icon: 'arrow-up'
  })
.ui__section-field
  span.base-text .btn .btn-primary .wide
  +main-btn({
    tag: 'a',
    href: '#',
    title: 'Мужчинам',
    cls: 'btn-primary wide',
  })
.ui__section-field
  span.base-text .btn .btn-primary .disabled
  +main-btn({
    tag: 'a',
    href: '#',
    title: 'Мужчинам',
    cls: 'btn-primary disabled'
  })

span.base-subtitle .btn-secondary
.ui__section-field
  span.base-text .btn .btn-secondary
  +main-btn({
    tag: 'a',
    href: '#',
    title: 'Мужчинам',
    cls: 'btn-secondary',
    icon: 'arrow-up'
  })
.ui__section-field
  span.base-text .btn .btn-secondary .reversed
  +main-btn({
    tag: 'a',
    href: '#',
    title: 'Мужчинам',
    cls: 'btn-secondary reversed',
    icon: 'arrow-up'
  })
.ui__section-field
  span.base-text .btn .btn-secondary .disabled
  +main-btn({
    tag: 'a',
    href: '#',
    title: 'Мужчинам',
    cls: 'btn-secondary disabled'
  })
.ui__section-field
  span.base-text .btn .btn-secondary .wide
  +main-btn({
    tag: 'a',
    href: '#',
    title: 'Мужчинам',
    cls: 'btn-secondary wide',
    icon: 'arrow-up'
  })
.ui__section-field
  span.base-text .btn .btn-primary .wide
  +main-btn({
    tag: 'a',
    href: '#',
    title: 'Мужчинам',
    cls: 'btn-secondary wide',
  })

span.base-subtitle .btn-thin
.ui__section-field
  span.base-text .btn .btn-thin
  +main-btn({
    tag: 'a',
    href: '#',
    title: 'Показать еще',
    cls: 'btn-thin',
    icon: 'arrow-up'
  })
.ui__section-field
  span.base-text .btn .btn-thin .reversed
  +main-btn({
    tag: 'a',
    href: '#',
    title: 'Показать еще',
    cls: 'btn-thin reversed',
    icon: 'arrow-up'
  })
.ui__section-field
  span.base-text .btn .btn-thin .underlined
  +main-btn({
    tag: 'a',
    href: '#',
    title: 'Показать еще',
    cls: 'btn-thin underlined',
  })
.ui__section-field
  span.base-text .btn .btn-thin .underlined-hover
  +main-btn({
    tag: 'a',
    href: '#',
    title: 'Показать еще',
    cls: 'btn-thin underlined-hover',
  })