include ../../components/_ui/form-controls/main-input/main-input

.base-title Элементы форм

.ui__section-field
  span.base-subtitle main-input

  +main-input ({
    id: 'test-id',
    label: 'test-label',
    placeholder: 'text-placeholder',
    name: 'test-ctrl-name'
  })