.base-title Типографика
.ui__section-field
  h1 h1
  h2 h2
  h3 h3
  p paragraph

  span.main-title .main-title
  span.base-title .base-title
  span.base-subtitle .base-subtitle
  span.base-text .base-text