extends ../../layouts/base-section/base-section.pug
block variables
  - sectionClass = 'ui'
  - sectionContainerClass = ''
  - sectionTitle = 'Компоненты'
block content
  

  .container
    //.ui__section
      include ./typography

    //.ui__section
      include ./buttons
    
    .ui__section
      include ./form-controls