@use "@styles/_mixins/_font-face.scss" as *;

@include font-face('Montserrat', 'Montserrat-Regular', 400, normal);
@include font-face('Montserrat', 'Montserrat-Regular', 400, normal);
@include font-face('Montserrat', 'Montserrat-Medium', 500, normal);
@include font-face('Montserrat', 'Montserrat-SemiBold', 600, normal);
@include font-face('Montserrat', 'Montserrat-Bold', 700, normal);