include ../../components/blocks/empty-section/empty-section

+empty-section({
  cls: 'base-section fav fav--empty',
  title: 'Избранное',
  subtitle: 'Вы пока что еще ничего не добавили в избранное',
  text: 'Перейдите в каталог или воспользуйтесь поиском',
})