@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

// убрать при сборке если будет использоваться отдельный компонент
@use "@pug/components/_ui/cards/product-card/product-card";

.catalog-preview {
	&__content {
		@extend %flex-column;
		gap: 20px;
		align-items: center;
	}

	&--grid {
		& .container,
		& .container-fluid {
			display: grid;
			grid-template-columns: 1fr;
			@include container-up("main", $mobile-width) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}
