extends ../../layouts/base-section/base-section.pug
block variables
  - sectionClass = 'catalog-preview'
  - sectionContainerClass = ''
  - sectionTitle = 'Подборки'
  - hideSectionHeader = false
block content
  include ../../components/_ui/sliders/base-slider/base-slider
  include ../../components/_ui/buttons/main-btn/btn
  .catalog-preview__content
    +base-slider({
      items: [
        {
          cls: 'base-card--column',
          img: {
            name: 'mock-img-1',
            width: 920,
            height: 920
          }
        },
        {
          cls: 'base-card--column',
          img: {
            name: 'mock-img-2',
            width: 920,
            height: 920
          }
        },
        {
          cls: 'base-card--column',
          img: {
            name: 'mock-img-1',
            width: 920,
            height: 920
          }
        },
        {
          cls: 'base-card--column',
          img: {
            name: 'mock-img-2',
            width: 920,
            height: 920
          }
        },
        
      ]
    })

    +main-btn({
      tag: 'span',
      title: 'Показать все подборки',
      cls: 'btn-secondary',
      icon: 'arrow-up'
    })

  
  

  
  