.swiper.sort
  .swiper-wrapper
    .swiper-slide
      +main-btn({
        tag: 'a',
        href: "#",
        cls: 'sort-btn active',
        title: 'активная'
      })
    each title in ['верхняя одежда','костюмы','брюки','боди','сумки','платья','шапка','футболки']
      .swiper-slide
        +main-btn({
          tag: 'a',
          href: "#",
          cls: ' sort-btn',
          title
        })