@forward "@styles/_extends/flexbox.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

body:has(.top-banner) .header {
	position: fixed;
	top: 0;
	left: 0;
}

body:has(.top-menu:hover),
body:has(.top-menu:focus) {
	main {
		filter: blur(2px);
		background: linear-gradient(
			0deg,
			rgba(53, 56, 58, 0.2),
			rgba(53, 56, 58, 0.2)
		);
	}
}

.header {
	container: header / inline-size;
	position: sticky;
	top: 0;
	width: 100%;
	background-color: transparent;
	backdrop-filter: blur(10px);
	will-change: auto;
	transition: backdrop-filter var(--main-transition),
		background-color var(--main-transition);

	&:has(.top-menu:hover),
	&:has(.top-menu:focus) {
		background-color: var(--white);
		backdrop-filter: none;
	}

	z-index: 99;

	.container {
		@include container-down("header", $tablet-width) {
			padding: 0;
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;

		&-item {
			@extend %flex-align;

			&--left {
				justify-content: flex-start;

				&:has(.btn-thin) {
					.btn-thin {
						margin-right: 12px;
					}
				}

				@include container-down("header", $tablet-width) {
					.btn {
						display: none;
					}
				}
			}

			&--center {
				justify-content: center;
			}

			&--right {
				justify-content: flex-end;

				.fav-btn,
				.auth-btn {
					display: none;
				}
			}
		}
	}
}
