@forward "@styles/_extends/flexbox.scss";
// @forward "@styles/_extends/effects.scss";
// @forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.header {
	container: header / inline-size;
	position: fixed;
	width: 100%;
	top: 0;
	background-color: transparent;
	backdrop-filter: blur(10px);
	z-index: 99;

	.container {
		@include container-down("header", $tablet-width) {
			padding: 0;
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;

		&-item {
			@extend %flex-align;

			&--left {
				justify-content: flex-start;

				&:has(.btn-thin) {
					.btn-thin {
						margin-right: 12px;
					}
				}

				@include container-down("header", $tablet-width) {
					.btn {
						display: none;
					}
				}
			}

			&--center {
				justify-content: center;
			}

			&--right {
				justify-content: flex-end;

				.fav-btn,
				.auth-btn {
					display: none;
				}
			}
		}
	}
}
