include ../../components/_ui/buttons/main-btn/btn
include ../../components/_ui/nav/top-menu/top-menu

header.header
  .container
    .header__grid
      .header__grid-item.header__grid-item--left
        //- include ../../components/_ui/buttons/burger/burger
        //- include ../../components/_ui/nav/top-multilevel-menu/top-multilevel-menu

        +top-menu({
          title: 'Женщинам'
        })
        +top-menu({
          title: 'Мужчинам'
        })
        
      .header__grid-item.header__grid-item--center
        include ../../components/_ui/logos/main-logo/main-logo
      .header__grid-item.header__grid-item--right
        +main-btn({
          tag: 'a',
          href: "#",
          cls: 'btn-search search-opener-btn',
          icon: 'search'
        })
        +main-btn({
          tag: 'a',
          href: "#",
          cls: 'btn-user auth-btn',
          icon: 'user'
        })
        +main-btn({
          tag: 'a',
          href: "#",
          cls: 'btn-fav fav-btn',
          icon: 'fav'
        })
        +main-btn({
          tag: 'a',
          href: "#",
          cls: 'btn-cart',
          icon: 'cart'
        })