@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/media-queries" as *;
// @use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.top-menu {
	@extend %flex-column;
	height: 100%;

	.base-card,
	.product-card-inner-slider {
		aspect-ratio: 2/3;
		height: auto;
		aspect-ratio: 2 / 3;
	}

	.base-card {
		img {
			height: 100%;
		}

		&__title {
			font-size: 24px;

			@include media-down(1540px) {
				font-size: 14px;

				border: none;
				&::after {
					content: "";
					width: 100%;
					height: 1px;
					background-color: var(--light);
					position: absolute;
					bottom: -7px;
				}

				span {
					line-height: 1;
				}

				svg {
					width: 12px;
					height: 12px;
					transform: rotate(-45deg) translateY(1px);
				}
			}
		}

		&:hover .base-card__title,
		&:focus .base-card__title {
			svg {
				transform: rotate(0) translateY(0);
			}
		}
	}

	&-show-all-btn {
		font-size: 12px;
	}

	&-opener {
		position: relative;
		height: 100%;
		padding: 10px;

		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: transparent;
			content: "";
			transition: background-color var(--main-transition);
		}
	}

	&:hover,
	&:focus {
		.top-menu-opener {
			color: var(--hover-color);
			background-color: var(--light);

			&::before {
				background-color: var(--hover-color);
			}
		}

		.top-menu__grid {
			visibility: visible;
			opacity: 1;
			z-index: 10;
		}
	}

	&__grid {
		position: absolute;
		top: 100%;
		left: 0;
		display: grid;
		grid-template-columns: 360px auto;
		gap: 60px;
		width: 100%;
		height: fit-content;
		max-height: calc(90svh - 60px);

		padding: 40px 0 0 calc(var(--container-offset) + 16px);
		background-color: var(--white);
		overflow: hidden;
		overflow-y: auto;

		visibility: hidden;
		opacity: 0;
		z-index: -1;

		&-item {
			&-section {
				@extend %flex-column;
				gap: 40px;
				padding-bottom: 40px;

				&:first-child {
					border-right: 2px solid var(--light);
				}
			}

			&--main {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
			}

			&--side {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				max-height: fit-content;
				padding-bottom: 40px;

				@include media-down(1240px) {
					grid-template-columns: repeat(2, 1fr);

					& > *:last-child {
						display: none;
					}
				}

				& > * {
					height: fit-content;
				}

				.product-card {
					.product-card__header .btn-cart {
						display: none;
					}

					.product-card__header .btn-cart-wide {
						display: none;
					}
				}
			}
		}
	}

	&__list {
		@extend %list-reset;
		@extend %flex-column;
		// gap: 5px;

		&-wrapper {
			position: relative;
			@extend %flex-column;
			gap: 10px;

			.base-subtitle {
				font-size: 16px;
			}
		}

		li {
			text-transform: uppercase;

			&:hover,
			&:focus {
				& > a {
					span {
						color: var(--hover-color);
					}
					svg {
						fill: var(--hover-color);
						transform: rotate(0);
					}
				}

				& > ul {
					visibility: visible;
					opacity: 1;
					z-index: 1;
				}
			}

			a {
				@extend %flex-align;
				gap: 6px;
				padding: 5px 0;
				span {
					font-weight: 400;
					font-size: 14px;
					color: var(--primary);
					transition: color var(--main-transition);
				}
				svg {
					fill: var(--primary);
					transform: rotate(45deg);
					transition: fill var(--main-transition),
						transform var(--main-transition);
				}
			}
		}
	}

	&__inner-list {
		@extend %list-reset;
		position: absolute;
		top: 0;
		left: 100%;
		@extend %flex-column;
		gap: 5px;
		width: 100%;
		height: 100%;
		padding-left: 20px;
		visibility: hidden;
		opacity: 0;
		z-index: -1;
		transition: opacity var(--main-transition);
	}
}
