include ../../cards/product-card/product-card
include ../../cards/base-card/base-card

mixin top-menu(data)
  .top-menu 
    +main-btn({
      tag: 'a',
      href: "#",
      title: data.title,
      cls: 'btn-thin top-menu-opener' 
    })

    .top-menu__grid
      .top-menu__grid-item.top-menu__grid-item--main
        .top-menu__grid-item-section
          .top-menu__list-wrapper
            span.base-subtitle Каталог
            ul.top-menu__list
              li
                a(href="#")
                  span.base-text боди
              li
                a(href="#")
                  span.base-text верхняя одежда
                  svg(width='10' height='10' role='img' aria-hidden='true' focusable='false')
                    use(xlink:href='./assets/sprite.svg#icon-arrow-up')
                  
                ul.top-menu__inner-list
                  li
                    a(href="#") 
                      span.base-text куртки
                  li
                    a(href="#")
                      span.base-text бомберы
                  li
                    a(href="#")
                      span.base-text пуховики
                  li
                    a(href="#")
                      span.base-text очень длинное название раздела

              li
                a(href="#")
                  span.base-text толстовки
              li
                a(href="#")
                  span.base-text платья
              li
                a(href="#")
                  span.base-text футболки
              li
                a(href="#")
                  span.base-text костюмы
              li
                a(href="#")
                  span.base-text брюки
              li
                a(href="#")
                  span.base-text носки

              li
                a(href="#")
                  span.base-text аксессуары
                  svg(width='10' height='10' role='img' aria-hidden='true' focusable='false')
                    use(xlink:href='./assets/sprite.svg#icon-arrow-up')
                ul.top-menu__inner-list
                  li
                    a(href="#") 
                      span.base-text аксессуары
                  li
                    a(href="#")
                      span.base-text аксессуары
                  li
                    a(href="#")
                      span.base-text пуховики
                  li
                    a(href="#")
                      span.base-text очень длинное название аксессуарa
            +main-btn({
              tag: 'a',
              href: 'catalog-main.html',
              cls: 'btn-thin underlined top-menu-show-all-btn',
              title: 'Посмотреть все'
            })
          .top-menu__list-wrapper
            span.base-subtitle Подборки
            ul.top-menu__list
              li
                a(href="#")
                  span.base-text новинки
              li
                a(href="#")
                  span.base-text бестеллеры
              li
                a(href="#")
                  span.base-text sale
              li
                a(href="#")
                  span.base-text базовый гардероб
              li
                a(href="#")
                  span.base-text зимняя подборка
            
            +main-btn({
              tag: 'a',
              href: 'catalog-main.html',
              cls: 'btn-thin underlined top-menu-show-all-btn',
              title: 'Посмотреть все'
            })
        .top-menu__grid-item-section
      .top-menu__grid-item.top-menu__grid-item--side


        +base-card({
          img: {
            name: 'mock-img-1',
            width: 920,
            height: 920
          },
          title: {
            text: 'Весенняя коллекция',
            icon: true,
            cls: 'base-card__title--light'
          }
        })

        +base-card({
          img: {
            name: 'mock-img-1',
            width: 920,
            height: 920
          },
          title: {
            text: 'Весенняя коллекция',
            icon: true,
            cls: 'base-card__title--light'
          }
        })

        +product-card({
          images: [
            'product-card-mock-1',
            'product-card-mock-2',
            'product-card-mock-3',
            'product-card-mock-4',
          ],
          badge: {
            cls: 'badge-accent',
            text: '-25%'
          },
          title: 'Брюки спортивные летние с двумя карманами',
          price: '9999 ₽',
          oldPrice: '19990 ₽' 
        })

        +product-card({
          images: [
            'product-card-mock-1',
            'product-card-mock-2',
            'product-card-mock-3',
            'product-card-mock-4',
          ],
          badge: {
            cls: 'badge-accent',
            text: '-25%'
          },
          title: 'Брюки спортивные летние с двумя карманами',
          price: '9999 ₽',
          oldPrice: '19990 ₽'
        })