- modalID = "size-table-modal";
- modalClass = "size-table-modal"
- modalTitle = "обмер изделия"
include ../../../../layouts/modal-layout/modal
  block modalContent
    include ../../../blocks/size-table/size-table
