@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_mixins/media-queries" as *;
@use "@styles/_vars/scoped" as *;

@use "@pug/components/_ui/sort/sort";
@use "@pug/components/blocks/filter/filter";
@use "@pug/components/_ui/filter-row/filter-row";
@use "@pug/components/_ui/buttons/filter-opener-btn/filter-opener-btn";

.catalog-section {
	container: catalog-section / inline-size;

	.base-section__header {
		flex-wrap: nowrap;
		gap: 20px;
		justify-content: space-between;
		margin-bottom: 10px;

		@include media-equal-down($mobile-width) {
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;
		}

		.base-title {
			font-size: 24px;

			@include media-equal-up($mobile-width) {
				font-size: 34px;
			}
		}
	}

	.sort,
	.filter-row {
		margin-bottom: 20px;
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 40px 1px;
		margin-bottom: 40px;

		@include container-up("catalog-section", 420px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include container-up("catalog-section", $tablet-width) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include container-up("catalog-section", $tablet-lg-width) {
			grid-template-columns: repeat(4, 1fr);
		}

		&-item {
			width: 100%;
		}
	}
}
