@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_mixins/media-queries" as *;
@use "@styles/_vars/scoped" as *;

@use "@pug/components/_ui/sort/sort";
@use "@pug/components/blocks/filter/filter";

.catalog-section {
	container: catalog-grid / inline-size;

	.base-section__header {
		flex-wrap: nowrap;
		gap: 20px;
		justify-content: space-between;

		@include media-equal-down($mobile-width) {
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;
		}
	}

	&__sort {
		margin-bottom: 20px;
	}

	.filter-opener-btn {
		width: 100%;
		max-width: 100%;
		color: var(--light);
		background-color: var(--primary);

		svg {
			width: 24px;
			height: 24px;
			fill: var(--light);
		}

		@include media-up($mobile-width) {
			max-width: fit-content;
			color: var(--primary);
			background-color: var(--light);

			svg {
				width: 24px;
				height: 24px;
				fill: var(--primary);
			}

			&:hover,
			&:focus {
				background-color: var(--hover-dop-color);
				color: var(--primary);

				svg {
					fill: var(--primary);
				}
			}

			&.active {
				background-color: var(--primary);
				color: var(--light);

				svg {
					fill: var(--light);
				}
			}
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 40px 1px;
		margin-bottom: 40px;

		@include container-up("catalog-grid", 420px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include container-up("catalog-grid", $tablet-width) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include container-up("catalog-grid", $tablet-lg-width) {
			grid-template-columns: repeat(4, 1fr);
		}

		&-item {
			width: 100%;
		}
	}
}
