@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.catalog-section {
	container: catalog-grid / inline-size;
	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 40px 1px;
		margin-bottom: 40px;

		@include container-up("catalog-grid", 420px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include container-up("catalog-grid", $tablet-width) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include container-up("catalog-grid", $tablet-lg-width) {
			grid-template-columns: repeat(4, 1fr);
		}

		&-item {
			width: 100%;
		}
	}
}
