include ../../../components/_ui/cards/product-card/product-card
include ../../../components/_ui/buttons/main-btn/btn

section.base-section.catalog-section
  .container
    .base-section__header
      h1.base-title женская одежда

      +main-btn({
        tag: 'button',
        title: 'фильтр и сортировка',
        cls: 'btn-light reversed filter-opener-btn',
        icon: 'sort',
      })

    .catalog-section__sort
      include ../../../components/_ui/sort/sort
       
  .container-fluid
    .catalog-section__grid
      each item in [1,2,3]
        .catalog-section__grid-item
          +product-card({
            images: [
              'product-card-mock-1',
              'product-card-mock-2',
              'product-card-mock-3',
              'product-card-mock-4',
            ],
            badge: {
              cls: 'badge-accent',
              text: '-25%'
            },
            title: 'Брюки спортивные летние с двумя карманами',
            price: '9999 ₽',
            oldPrice: '19990 ₽'
          })
        .catalog-section__grid-item
          +product-card({
            images: [
              'product-card-mock-2',
              'product-card-mock-3',
              'product-card-mock-4',
              'product-card-mock-1',
            ],
            badge: {
              text: 'Новинка'
            },
            title: 'Брюки спортивные',
            price: '99999 ₽'
          })
        .catalog-section__grid-item
          +product-card({
            images: [
              'product-card-mock-3',
              'product-card-mock-4',
              'product-card-mock-1',
              'product-card-mock-2',
            ],
            badge: {
              text: 'Хит'
            },
            title: 'Брюки спортивные',
            price: '99999 ₽'
          })
        .catalog-section__grid-item
          +product-card({
            images: [
              'product-card-mock-3',
              'product-card-mock-4',
              'product-card-mock-1',
              'product-card-mock-2',
            ],
            badge: {
              text: 'Хит'
            },
            title: 'Брюки спортивные',
            price: '99999 ₽'
          })
    
    include ../../../components/_ui/pagination/pagination
    .filter-wrapper
      include ../../../components/blocks/filter/filter
