mixin main-picker(data)
  .main-picker(class= data.cls ? data.cls : null)
    span.base-text.main-picker__headline!= data.title
      span!= data.value       
      
    .main-picker__content
      each item in data.items
        .main-picker__item(class= data.pickerItemCls ? data.pickerItemCls : null)
          != item

