@forward "@styles/_extends/utils.scss";

$btn-hover-color: #454c51;
$btn-disabled-color: #b6b6b6;

$btn-thin-hover-color: #606b80;

.btn {
	@extend %btn;

	&-primary {
		background-color: var(--primary);
		color: var(--light);

		svg {
			fill: var(--light);
		}

		&:not(.disabled) {
			&:focus {
				background-color: $btn-hover-color;
				color: var(--light);
			}

			@media (hover: hover) {
				&:hover {
					background-color: $btn-hover-color;
					color: var(--light);
				}
			}
		}

		&.wide {
			max-width: 100%;
		}

		&.reversed {
			flex-direction: row-reverse;
		}

		&.disabled {
			pointer-events: none;
			background-color: var(--light);
			border: 1px solid var(--muted);
			color: $btn-disabled-color;
		}
	}

	&-secondary {
		border-color: var(--muted);
		background-color: var(--light);
		color: var(--primary);

		svg {
			fill: var(--primary);
		}

		&:not(.disabled) {
			&:focus {
				color: $btn-hover-color;
				border: 1px solid $btn-hover-color;

				svg {
					fill: $btn-hover-color;
				}
			}

			@media (hover: hover) {
				&:hover {
					color: $btn-hover-color;
					border: 1px solid $btn-hover-color;

					svg {
						fill: $btn-hover-color;
					}
				}
			}
		}

		&.wide {
			max-width: 100%;
		}

		&.reversed {
			flex-direction: row-reverse;
		}

		&.disabled {
			pointer-events: none;
			background-color: var(--light);
			border: 1px solid var(--muted);
			color: $btn-disabled-color;
		}
	}

	&-thin {
		min-height: 20px;
		padding: 2px 0;
		border-color: transparent;
		background-color: transparent;
		color: var(--primary);

		span {
			line-height: 1;
		}

		svg {
			fill: var(--primary);
		}

		&:not(.disabled) {
			&:focus {
				color: $btn-thin-hover-color;
				svg {
					fill: $btn-thin-hover-color;
				}
			}

			@media (hover: hover) {
				&:hover {
					color: $btn-thin-hover-color;
					svg {
						fill: $btn-thin-hover-color;
					}
				}
			}
		}

		&.underlined {
			border-bottom-color: var(--primary);

			&:focus {
				border-bottom-color: $btn-thin-hover-color;
				color: $btn-thin-hover-color;
				svg {
					fill: $btn-thin-hover-color;
				}
			}

			@media (hover: hover) {
				&:hover {
					border-bottom-color: $btn-thin-hover-color;
					color: $btn-thin-hover-color;
					svg {
						fill: $btn-thin-hover-color;
					}
				}
			}
		}

		&.underlined-hover {
			&:focus {
				border-bottom-color: $btn-thin-hover-color;
				color: $btn-thin-hover-color;
				svg {
					fill: $btn-thin-hover-color;
				}
			}

			@media (hover: hover) {
				&:hover {
					border-bottom-color: $btn-thin-hover-color;
					color: $btn-thin-hover-color;
					svg {
						fill: $btn-thin-hover-color;
					}
				}
			}
		}

		&.wide {
			max-width: 100%;
		}

		&.reversed {
			flex-direction: row-reverse;
		}
	}

	&-light {
		background-color: var(--light);
		color: var(--primary);

		svg {
			fill: var(--primary);
		}

		&:not(.disabled) {
			&:focus {
				background-color: $btn-hover-color;
				color: var(--light);

				svg {
					fill: var(--light);
				}
			}

			@media (hover: hover) {
				&:hover {
					background-color: $btn-hover-color;
					color: var(--light);

					svg {
						fill: var(--light);
					}
				}
			}
		}

		&.wide {
			max-width: 100%;
		}

		&.reversed {
			flex-direction: row-reverse;
		}

		&.disabled {
			pointer-events: none;
			background-color: var(--light);
			border: 1px solid var(--muted);
			color: $btn-disabled-color;
		}
	}

	&-transparent {
		background-color: transparent;
		color: var(--primary);

		svg {
			fill: var(--primary);
		}

		&:not(.disabled) {
			&:focus {
				background-color: $btn-hover-color;
				color: var(--light);

				svg {
					fill: var(--light);
				}
			}

			@media (hover: hover) {
				&:hover {
					background-color: $btn-hover-color;
					color: var(--light);

					svg {
						fill: var(--light);
					}
				}
			}
		}

		&.wide {
			max-width: 100%;
		}

		&.reversed {
			flex-direction: row-reverse;
		}

		&.disabled {
			pointer-events: none;
			background-color: var(--light);
			border: 1px solid var(--muted);
			color: $btn-disabled-color;
		}
	}

	&-search {
		width: 60px;
		aspect-ratio: 1/1;
		height: 60px;
		padding: 12px;
		svg {
			width: 24px;
			height: 24px;
			fill: var(--primary);
		}
	}

	&-cart {
		width: 60px;
		aspect-ratio: 1/1;
		height: 60px;
		padding: 12px;
		svg {
			width: 24px;
			height: 24px;
			stroke: var(--primary);
			fill: transparent;
		}
	}

	&-user {
		width: 60px;
		aspect-ratio: 1/1;
		height: 60px;
		padding: 12px;
		svg {
			width: 24px;
			height: 24px;
			stroke: var(--primary);
			fill: transparent;
		}
	}

	&-fav {
		width: 60px;
		aspect-ratio: 1/1;
		height: 60px;
		padding: 12px;
		background-color: transparent;
		svg {
			width: 24px;
			height: 24px;
			stroke: var(--primary);
			fill: transparent;
		}
	}
}
