@forward "@styles/_extends/flexbox.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.empty-section {
	padding: var(--section-offset);
	container: empty-section / inline-size;

	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;

		@include container-up("empty-section", $tablet-lg-width) {
			grid-template-columns: 1fr auto 1fr;
		}
	}

	&__content {
		@extend %flex-column;
		gap: 10px;

		.btn {
			max-width: 100%;
			@include container-up("empty-section", $mobile-width) {
				max-width: fit-content;
			}
		}

		.base-text {
			font-size: 16px;
		}

		@include container-up("empty-section", $tablet-lg-width) {
			align-items: center;
			text-align: center;
			padding-top: 4px;
		}
	}
}
