@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.base-card {
	display: flex;
	flex-direction: column;
	position: relative;
	container: base-card / inline-size;
	height: 100%;

	img {
		width: 100%;
		height: auto;
		object-fit: cover;
		aspect-ratio: 5/7;

		@include container-up("main", $tablet-width) {
			aspect-ratio: 1/1;
		}
	}

	&__footer {
		width: 100%;
		@extend %flex-column;
		align-items: center;

		padding: 10px 5px;

		&:not(.base-card--column .base-card__footer) {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 40px 20px;
			gap: 10px;
		}
	}

	&__headline {
		font-size: 12px;
		line-height: 1.3;
		font-weight: 700;
		text-transform: uppercase;
		color: var(--primary);
		&:not(.base-card--column .base-card__headline) {
			color: var(--light);
		}
	}

	&__title {
		position: relative;
		display: flex;
		gap: 5px;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		border-bottom: 2px solid var(--primary);

		@include container-up("base-card", $mobile-width) {
			font-size: 24px;
		}

		&--light {
			color: var(--light);
			border-color: var(--light);
			svg {
				fill: var(--light);
			}
		}

		svg {
			transform: rotate(-45deg) translateY(5px);
			transition: transform var(--main-transition);
		}
	}

	&:hover &__title,
	&:focus &__title {
		svg {
			transform: rotate(0) translateY(3px);
		}
	}
}
