@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.base-grid {
	// TEMP
	display: grid;
	grid-template-columns: 1fr;
	@include container-up("main", $mobile-width) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.base-card {
	display: flex;
	flex-direction: column;
	position: relative;
	container: base-card / inline-size;
	height: 100%;

	img {
		width: 100%;
		height: auto;
		object-fit: cover;
		aspect-ratio: 5/7;

		@include container-up("main", $tablet-width) {
			aspect-ratio: 1/1;
		}
	}

	&__footer {
		width: 100%;
		@extend %flex-column;
		align-items: center;
		gap: 10px;
		padding: 10px 16px;

		&:not(.base-card--column .base-card__footer) {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 40px;
		}
	}

	&__headline {
		font-size: 12px;
		line-height: 1.3;
		font-weight: 700;
		text-transform: uppercase;
		color: var(--primary);
		&:not(.base-card--column .base-card__headline) {
			color: var(--light);
		}
	}

	.base-card__title {
		@extend %flex-align;
		gap: 5px;

		font-size: 14px;
		font-weight: 400;

		&:not(.base-card--column .base-card__title) {
			font-size: 24px;
			font-weight: 700;
		}

		line-height: 1.3;
		text-transform: uppercase;
		text-align: center;
		color: var(--primary);
		&:not(.base-card--column .base-card__title) {
			color: var(--light);
		}
		&:has(svg) {
			line-height: 1;
		}
		svg {
			width: 16px;
			height: 16px;
			fill: var(--light);
		}
	}
}
