mixin base-card(data)
  .base-card-wrapper
    a(href="#" class= data.cls ? data.cls : null).base-card
      img(src=`./assets/img/${data.img.name}.png` alt= data.title width= data.img.width height= data.img.height)
      .base-card__footer
        if data.headline
          span.base-card__headline!= data.headline
        if data.title
          span.base-card__title
            != data.title.text
