@forward "@styles/_extends/flexbox.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.sort + .swiper.filter-row {
	padding-top: 20px; // TEMP
}

.filter-row {
	width: 100%;

	.swiper-slide {
		width: fit-content;
	}

	.swiper-wrapper {
		align-items: center;
	}

	&-btn {
		min-height: 40px;
		border: none;
		padding: 12px 10px;
		background-color: var(--light);

		&:hover,
		&:focus {
			background-color: var(--hover-dop-color);
		}

		&.active {
			color: var(--white);
			background-color: var(--primary);
		}
	}
}
