@forward "@styles/_extends/flexbox.scss";
@use "@styles/_mixins/media-queries" as *;
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.filter-opener-btn {
	width: 100%;
	max-width: 100%;
	color: var(--light);
	background-color: var(--primary);
	padding: 15px 20px;

	svg {
		width: 16px;
		height: 16px;
		fill: var(--light);
	}

	@include media-up($mobile-width) {
		max-width: fit-content;
		color: var(--primary);
		background-color: var(--light);

		svg {
			fill: var(--primary);
		}

		&:hover,
		&:focus {
			background-color: var(--hover-dop-color);
			color: var(--primary);

			svg {
				fill: var(--primary);
			}
		}

		&.active {
			color: var(--light);

			svg {
				fill: var(--light);
			}
		}
	}
}
