@forward "@styles/_extends/flexbox.scss";
@use "@styles/_mixins/media-queries" as *;
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;
@use "@pug/components/_ui/price-row/price-row";

@use "@pug/components/_ui/modals/size-table-modal/size-table-modal";
@use "@pug/components/blocks/size-table/size-table";

.catalog-detail {
	container: catalog-detail / inline-size;

	&__title {
		font-weight: 400;
	}

	&__grid {
		// грид сетка
		display: grid;
		grid-template-columns: 1fr;
		gap: 0 clamp(20px, 3vw, 40px);
		margin-bottom: 60px;

		@include container-up("catalog-detail", 640px) {
			grid-template-columns: repeat(2, 1fr);
			margin-bottom: 80px;
		}

		&-item {
			// элемент грид сетки
			height: fit-content;

			&-wrapper form,
			&-wrapper {
				@extend %flex-column;
			}

			&--main {
				position: relative;
				@extend %flex-column;
				gap: clamp(40px, 4vw, 80px);
				padding: 0 var(--container-offset);

				position: sticky;
				top: 60px;

				@include container-down("catalog-detail", 640px) {
					position: revert !important;
					top: revert !important;
				}
			}

			&--gallery {
				position: sticky;
				top: 60px;

				@include container-down("catalog-detail", 640px) {
					position: revert;
					top: revert;
				}

				.swiper-slide,
				.swiper {
					width: 100% !important;
				}

				.swiper {
					.badge {
						position: absolute;
						top: 20px;
						left: 20px;
					}
				}

				.swiper-wrapper {
					@include container-up("catalog-detail", 640px) {
						display: grid;
						grid-template-columns: 1fr;
					}
					@include container-up("catalog-detail", $tablet-width) {
						grid-template-columns: repeat(2, 1fr);
					}
				}

				img {
					width: 100%;
					height: auto;
					object-fit: contain;
					border: 1px solid var(--white);
				}
			}
		}
	}

	&__field {
		// поле с информацией

		@extend %flex-column;
		order: 2;
		&:not(:last-child) {
			margin-bottom: 20px;
		}

		&--head {
			position: relative;
			@extend %flex-column;
			gap: 5px 20px;
			order: 1;

			& > * {
				margin: 0;
			}

			&:has(.btn-fav) {
				min-height: 60px;
				justify-content: flex-end;
				padding-right: 75px;
				.btn-fav {
					position: absolute;
					top: 0;
					right: 0;
					display: none; // TEMP!!
				}
			}
		}

		&--add-btn {
			.btn {
				padding: 20px 10px;
			}

			// @include container-down("main", 640px) {
			@include media-down(640px) {
				order: 1;
			}

			// @include container-down("main", 440px) {
			@include media-down(440px) {
				position: absolute;
				top: -80px;
				left: 0;
				width: 100%;
				padding: 10px 20px;
				background: rgba(249, 249, 249, 0.8);
				backdrop-filter: blur(2px);
				z-index: 11;
			}
		}

		&--sizepicker {
			@extend %flex-column;
			gap: 10px;

			// @include container-down("main", 640px) {
			@include media-down(640px) {
				align-items: center;
			}
		}

		&--props {
			@extend %flex-column;
			font-size: 14px;

			// @include container-down("main", 640px) {
			@include media-down(640px) {
				align-items: center;
				text-align: center;
			}
		}
	}

	&__store {
		container: store-field / inline-size;

		&-wrapper {
			@extend %flex-column;
			gap: 5px 40px;
			padding: 20px 0;
			border-bottom: 1px solid var(--gray);

			@include container-up("store-field", 440px) {
				display: grid;
				grid-template-columns: auto auto;
			}
		}

		&:first-child .catalog-detail__store-field-wrapper {
			padding-top: 0;
		}

		&-field {
			@extend %flex-column;
			gap: 5px;

			.base-subtitle {
				font-size: 14px;
			}

			.base-text {
				font-size: 16px;
			}
		}
	}
}
