@forward "@styles/_extends/flexbox.scss";

.base-section {
	padding: clamp(30px, 2.6vw, 40px) 0;

	&__header {
		@extend %flex-align;
		flex-wrap: wrap;
		width: 100%;
		gap: clamp(20px, 3.2vw, 40vw);
		margin-bottom: 25px;
		container: base-section-header / inline-size;

		& > * {
			margin-bottom: 0;
		}

		.swiper-navigation {
			margin-left: auto;
		}
	}
}
