@forward "@styles/_extends/flexbox.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;
.base-section {
	padding: var(--section-offset);

	&__header {
		@extend %flex-align;
		flex-wrap: wrap;
		width: 100%;
		gap: clamp(10px, 3.2vw, 40vw);
		margin-bottom: 10px;
		container: base-section-header / inline-size;

		@include container-up("main", $mobile-width) {
			margin-bottom: 20px;
		}

		& > * {
			margin-bottom: 0;
		}

		.swiper-navigation {
			margin-left: auto;
		}
	}
}
