.pagination
  a(href="#").pagination__btn.pagination__btn--prev
    svg(width='11' height='10' role='img' aria-hidden='true' focusable='false')
      use(xlink:href=`./assets/sprite.svg#icon-arrow-xs`)
  a(href="#").pagination__btn 1
  a(href="#").pagination__btn.pagination__btn--selected 2
  a(href="#").pagination__btn 3
  a(href="#").pagination__btn.pagination__btn--next
    svg(width='11' height='10' role='img' aria-hidden='true' focusable='false')
      use(xlink:href=`./assets/sprite.svg#icon-arrow-xs`)