.contacts-block
  span.base-subtitle контакты для связи
  +main-btn({
    tag: 'a',
    href: "#",
    title: '8 (804) 700 74 74',
    cls: 'btn btn-thin underlined reversed',
    icon: 'phone'
  })
  +main-btn({
    tag: 'a',
    href: "#",
    title: 'чат в телеграм',
    cls: 'btn btn-thin underlined reversed',
    icon: 'tg'
  })
  +main-btn({
    tag: 'a',
    href: "#",
    title: 'чат в whatsapp',
    cls: 'btn btn-thin underlined reversed',
    icon: 'whatsapp'
  })