@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.subscribe {
	background-color: var(--light);
	padding: clamp(20px, 2.4vw, 40px);
	@extend %flex-column;
	gap: clamp(10px, 3vw, 20px);

	form {
		@extend %flex-column;
		gap: 10px;
		fieldset {
			@extend %fieldset-reset;
			@extend %flex-align;

			.main-control {
				font-weight: 400;
				font-size: 16px;
				width: 100%;
				padding: 20px;
				border: none;
				background-color: var(--white);
				color: var(--primary);

				&::placeholder {
					font-weight: 400;
					font-size: 16px;
					color: var(--primary);
				}
			}
		}
	}
}
