@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/media-queries" as *;
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.subscribe {
	@extend %flex-column;
	gap: clamp(10px, 3vw, 20px);
	padding: 20px;
	background-color: var(--primary);
	container: subscribe / inline-size;

	@include media-equal-up(820px) {
		padding: 40px;
	}

	.base-subtitle {
		max-width: 760px;
	}

	& > * {
		color: var(--white);
	}

	form {
		@extend %flex-column;
		gap: 10px;

		fieldset {
			@extend %fieldset-reset;
			@extend %flex-align;

			@include container-down("subscribe", $mobile-width) {
				flex-direction: column;
				gap: 10px;
			}

			.main-control {
				font-weight: 400;
				font-size: 16px;
				width: 100%;
				padding: 20px;
				background-color: var(--white);
				color: var(--primary);
				border: none;
				min-height: 60px;
				outline: none;

				&::placeholder {
					font-weight: 400;
					font-size: 16px;
					color: var(--primary);
				}
			}
		}

		.btn[type="submit"] {
			border: 1px solid var(--white);
			min-height: 60px;

			@include container-down("subscribe", $mobile-width) {
				width: 100%;
				max-width: 100%;
			}
		}

		small {
			color: var(--light);

			a {
				color: var(--light);
			}
		}
	}
}
