.subscribe
  span.base-subtitle Подпишитесь на нашу e-mail&nbsp;рассылку, чтобы первыми увидеть новые коллекции, новости и&nbsp;видео

  form(action="#" method="POST") 
    fieldset
      input(type="text" placeholder="Введите почту").main-control
      button(type="submit").btn.btn-primary
        span подписаться
    small Нажимая кнопку, Вы соглашаетесь с условиями <a href="#">оферты</a> и <a href="#">политикой конфиденциальности</a>
