include ../../_ui/buttons/main-btn/btn

mixin inner-section(data)
  section.inner-section(class= data.cls ? data.cls : null)
    .container
      .inner-section__wrapper
        .inner-section__sidebar!= data.sidebar
        .inner-section__content!= data.content
        