mixin color-picker-btn-row(data)
  .color-picker-btn-row
    each item in data.items
      button(type="button" aria-label= item.label class= item.isActive ? 'active' : null).color-picker-btn
        span.color-picker-btn__inner(aria-hidden="true" style=`background-color: ${item.hex};`)

