include ../../components/_ui/buttons/main-btn/btn
include ../../components/_ui/cards/cart-item/cart-item

section.cart
  .container
    .cart__grid
      .cart__grid-item
        h1.base-title Корзина
      .cart__grid-item.cart__grid-item--main
        .cart-items
          .cart-items__header
            button(type="button").btn.btn-thin.cart-select-all-btn Выделить все
            span.base-text-xs.cart-removed-items Удалить (<span>3</span>)
          .cart-items__content
            +cart-item({
              title: 'брюки спортивные',
              price: {
                old: '20 500 ₽',
                current: '10 500 ₽',
              },
              props: [
                {
                  name: 'Размер:',
                  value: 'М'
                },
                {
                  name: 'Цвет:',
                  value: 'черный'
                }
              ],
            })
            +cart-item({
              title: 'брюки спортивные 2',
              price: {
                current: '10 500 ₽',
              },
              props: [
                {
                  name: 'Размер:',
                  value: 'М'
                },
                {
                  name: 'Цвет:',
                  value: 'черный'
                }
              ],
            })
            +cart-item({
              title: 'брюки спортивные 3',
              price: {
                current: '10 500 ₽',
              },
              props: [
                {
                  name: 'Размер:',
                  value: 'М'
                },
                {
                  name: 'Цвет:',
                  value: 'черный'
                }
              ],
            })
        
      .cart__grid-item.cart__grid-item--side
        .cart-total
          span.base-subtitle Ваш заказ

          .cart-total__row.cart-total__row--main
            span.base-text Товары: 3 шт.
            span.base-text 31 500 ₽
          
          .cart-total__row.cart-total__row--main
            span.base-text Скидка
            span.base-text -10 500 ₽

          .cart-total__row.cart-total__row--promo
            +main-btn({
              tag: 'button',
              type: 'submit',
              cls: 'btn-thin underlined promo-field-opener',
              title: 'Ввести промокод'
            })

          .cart-total__row.cart-total__row--price
            span.base-subtitle ИТОГО
            span.base-subtitle 31 500 ₽
          

          +main-btn({
            tag: 'button',
            type: 'submit',
            cls: 'btn-primary wide',
            title: 'Оформить заказ'
          })




