@forward "@styles/_extends/flexbox.scss";
@use "@styles/_mixins/media-queries" as *;
@use "@styles/_vars/scoped" as *;

.breadcrumbs {
	width: 100%;
	margin: 20px 0;

	@include media-down($tablet-width) {
		display: none;
	}

	.container {
		@extend %flex-align;
	}

	&__item {
		font-size: 12px;
		text-transform: uppercase;

		a span {
			color: var(--primary);
		}

		span {
			color: var(--gray);
		}
	}

	& + * {
		padding-top: 0;
	}
}
