.breadcrumbs
  .container
    .breadcrumbs__item
      a(href="/")
        span Главная&nbsp;
    .breadcrumbs__item
      a(href="catalog-section.html")
        span /&nbsp;женщинам&nbsp;
    .breadcrumbs__item
      span /&nbsp;все товары

