@use "@pug/components/blocks/certificate-block/certificate-block";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_mixins/media-queries" as *;
@use "@styles/_vars/scoped" as *;

body:has(.burger.active) {
	overflow: hidden;
}

.top-multilevel-menu {
	&__wrapper {
		position: fixed;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100%;
		min-height: calc(100svh - 60px);
		background-color: var(--white);
		overflow: hidden;
		overflow-y: auto;

		display: none;
	}

	&:has(.burger.active) &__wrapper {
		display: block;
	}

	&__header {
		@include media-up($tablet-lg-width) {
			display: none;
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		height: fit-content;
		padding: 0;
		gap: 40px 0;

		@include media-up($tablet-lg-width) {
			grid-template-columns: 1fr 600px;
			gap: 60px 0;
			padding: 40px 0 60px;
		}

		@include media-up(1140px) {
			grid-template-columns: 1fr 720px;
		}

		@include media-up(1640px) {
			grid-template-columns: 1fr 960px;
		}

		&-item {
			&--main {
				display: flex;
				flex-wrap: wrap;
				gap: 40px;
				padding: 0 40px;
				height: fit-content;

				@include media-equal-down(1640px) {
					grid-column: -1/1;
				}

				@include media-equal-down($tablet-lg-width) {
					padding: 0;
					gap: 0;
				}
			}

			&--bottom {
				margin-top: auto;
				grid-column: -1 / 1;

				@include media-up($tablet-lg-width) {
					grid-column: 1/2;
					grid-row: 2/3;
				}

				@include media-equal-down(1640px) {
					height: 100%;
				}

				.certificate {
					@include media-equal-down(1640px) {
						height: 100%;
						display: flex;

						&-wrapper {
							height: 100%;
						}

						&__content {
							max-width: 640px;
						}

						&__grid {
							display: flex;
							flex-direction: column-reverse;
							margin-top: auto;

							@include media-equal-down($tablet-lg-width) {
								display: grid;
							}

							@include media-equal-down($tablet-width) {
								display: flex;
								flex-direction: column;
							}
						}
					}

					@include media-equal-down($tablet-width) {
						padding: 20px;
					}
				}
			}

			&--side {
				display: none;

				grid-template-columns: repeat(2, 1fr);
				grid-column: 2/3;
				grid-row: 2/3;

				img {
					height: 100%;
				}

				@include media-up($tablet-lg-width) {
					display: grid;
				}

				@include media-up(1640px) {
					grid-row: 1/3;
				}
			}
		}
	}

	&__info {
		@extend %flex-column;
		gap: 40px;
		width: 100%;

		@include media-equal-down($tablet-lg-width) {
			padding: 20px;
		}

		&-field {
			@extend %flex-column;
			gap: 12px;
			width: 100%;

			.btn {
				font-size: 14px;
				min-height: 28px;

				span {
					line-height: 1;
				}

				svg {
					width: 16px;
					height: 16px;
				}
			}

			&--contacts {
				.btn {
					svg {
						width: 12px;
						height: 12px;
					}
				}
				@include media-up($tablet-lg-width) {
					display: none;
				}
			}
		}
	}

	&__list-wrapper {
		@extend %flex-column;
		gap: 10px;
		width: fit-content;
		max-width: calc(100% / 3 - 30px);

		.base-subtitle {
			font-size: 16px;
		}

		&.desktop-only {
			display: none;
			@include media-up($tablet-lg-width) {
				display: flex;
			}
		}

		&.mobile-only {
			display: flex;
			@include media-up($tablet-lg-width) {
				display: none;
			}
		}

		ul {
			@extend %list-reset;
			@extend %flex-column;
			gap: 5px;

			li {
				a {
					font-size: 14px;
					text-transform: uppercase;
					transition: color var(--main-transition);

					&:hover,
					&:focus {
						color: var(--hover-color);
					}
				}
			}
		}
	}

	.toggler {
		display: flex;
		padding: 0;
		min-height: 60px;

		.btn {
			min-height: inherit;
			border: none;
			border-bottom: 2px solid transparent;

			&:hover,
			&:focus,
			&.active {
				color: #69757c;
				background-color: #ebebeb;
			}

			&.active {
				border-color: #69757c;
			}
		}
	}
}

.top-multilevel-menu__main-list {
	@extend %list-reset;
	width: 100%;
	display: none;

	&.active {
		@extend %flex-column;

		@include media-up($tablet-lg-width) {
			display: none;
		}
	}

	@include media-up($tablet-lg-width) {
		display: none;
	}

	ul {
		@extend %list-reset;
		@extend %flex-column;

		li {
			&:has(ul.expanded) {
				svg {
					transform: rotate(0);
				}
			}

			ul.expanded {
				display: flex;
			}
		}
	}

	& a {
		@extend %flex-align;
		align-items: baseline;
		gap: 5px;
		padding: 20px 20px;
		font-size: 14px;
		text-transform: uppercase;

		@include media-up($tablet-width) {
			padding: 20px 40px;
		}

		svg {
			width: 14px;
			height: 14px;
			transform: rotate(45deg);
			transition: transform var(--main-transition);
		}
	}

	.base-subtitle {
		font-size: 14px;
		text-transform: uppercase;
	}

	& > li {
		& > a {
			justify-content: space-between;
		}

		& > .base-subtitle {
			font-size: 16px;
		}
	}

	.level-2,
	.level-3 {
		a {
			border-bottom: 1px solid #f2efef;
			svg {
				width: 10px;
				height: 10px;
			}
		}
	}

	.level-2 {
		a {
			padding: 20px 40px;

			@include media-up($tablet-width) {
				padding: 20px 60px;
			}
		}
	}

	.level-3 {
		display: none;
		a {
			padding: 20px 80px;

			@include media-up($tablet-width) {
				padding: 20px 100px;
			}
		}
	}
}
