include ../../buttons/toggler/toggler
include ../../nav/bottom-menu/bottom-menu
include ../../buttons/main-btn/btn

.top-multilevel-menu
  include ../../buttons/burger/burger

  .top-multilevel-menu__wrapper
    .top-multilevel-menu__header
      +toggler({
        items: [
          {
            tag: 'button',
            dataID: 'women',
            cls: 'btn-secondary wide active',
            title: 'Женщинам'
          },
          {
            tag: 'button',
            dataID: 'mens',
            cls: 'btn-secondary wide',
            title: 'Мужчинам'
          },
        ]
      })

    .top-multilevel-menu__grid.container
      .top-multilevel-menu__grid-item.top-multilevel-menu__grid-item--main
        .top-multilevel-menu__list-wrapper.desktop-only
          span.base-subtitle Каталог
          <ul> 
            <li><a href="#">женщинам</a></li>
            <li><a href="#">мужчинам</a></li>
            <li><a href="#">аксессуары</a></li>
            <li><a href="#">весеняя подборка</a></li>
            <li><a href="#">базовый гардероб</a></li>
            <li><a href="#">зимняя подборка</a></li>
          </ul>
        .top-multilevel-menu__list-wrapper.desktop-only
          span.base-subtitle Покупателям
          <ul> 
            <li><a href="#">доставка и оплата</a></li>
            <li><a href="#">обмен и возврат</a></li>
            <li><a href="#">состав и уход</a></li>
            <li><a href="#">размерная сетка</a></li>
            <li><a href="#">программа лояльности</a></li>
            <li><a href="#">подарочный сертификат</a></li>
          </ul>
        .top-multilevel-menu__list-wrapper.desktop-only
          span.base-subtitle О нас
          <ul> 
            <li><a href="#">о бренде</a></li>
            <li><a href="#">события</a></li>
            <li><a href="#">вакансии</a></li>
            <li><a href="#">оффлайн магазины</a></li>
          </ul>
        
        .top-multilevel-menu__info
          .top-multilevel-menu__info-field.top-multilevel-menu__info-field--city
            span.base-subtitle Ваш город 
            +main-btn({
              tag: 'a',
              href: "#",
              title: 'Санкт-Петербург',
              cls: 'btn btn-thin underlined reversed',
              icon: 'pin'
            })
          .top-multilevel-menu__info-field.top-multilevel-menu__info-field--contacts.mobile-only
            span.base-subtitle контакты для связи
            +main-btn({
              tag: 'a',
              href: "#",
              title: '8 (804) 700 74 74',
              cls: 'btn btn-thin underlined reversed',
              icon: 'phone'
            })
            +main-btn({
              tag: 'a',
              href: "#",
              title: 'чат в телеграм',
              cls: 'btn btn-thin underlined reversed',
              icon: 'tg'
            })
            +main-btn({
              tag: 'a',
              href: "#",
              title: 'чат в whatsapp',
              cls: 'btn btn-thin underlined reversed',
              icon: 'whatsapp'
            })

      .top-multilevel-menu__grid-item.top-multilevel-menu__grid-item--bottom
        include ../../../blocks/certificate-block/certificate-block

      .top-multilevel-menu__grid-item.top-multilevel-menu__grid-item--side
        +base-card({
          img: {
            name: 'menu-mock-img-1',
            width: 480,
            height: 705
          },
          title: {
            text: 'магазины',
            icon: true
          }
        })
        +base-card({
          img: {
            name: 'menu-mock-img-2',
            width: 480,
            height: 705
          },
          title: {
            text: 'О бренде',
            icon: true
          }
        })
          