include ../../buttons/toggler/toggler
include ../../nav/bottom-menu/bottom-menu
include ../../buttons/main-btn/btn

.top-multilevel-menu
  include ../../buttons/burger/burger

  .top-multilevel-menu__wrapper
    .top-multilevel-menu__header
      +toggler({
        items: [
          {
            tag: 'button',
            dataID: 'women',
            cls: 'btn-secondary wide top-multilevel-menu-toggler active',
            title: 'Женщинам'
          },
          {
            tag: 'button',
            dataID: 'men',
            cls: 'btn-secondary wide top-multilevel-menu-toggler',
            title: 'Мужчинам'
          },
        ]
      })

    .top-multilevel-menu__grid.container
      .top-multilevel-menu__grid-item.top-multilevel-menu__grid-item--main
        ul.top-multilevel-menu__main-list(data-toggler="women").active
          li
            a(href="#").base-subtitle
              span Каталог
              svg(width='16' height='16' role='img' aria-hidden='true' focusable='false')
                use(xlink:href='./assets/sprite.svg#icon-arrow-up')
            ul.level-2
              li
                a(href="#").base-subtitle
                  span весенняя подборка
              li
                a(href="#").base-subtitle
                  span новинки
                  svg(width='16' height='16' role='img' aria-hidden='true' focusable='false')
                    use(xlink:href='./assets/sprite.svg#icon-arrow-up')
              li
                a(href="#").base-subtitle
                  span sales
              li
                a(href="#").base-subtitle
                  span популярное
              li
                a(href="#")
                  span боди
              li
                a(href="#")
                  span верхняя одежда
                  svg(width='16' height='16' role='img' aria-hidden='true' focusable='false')
                    use(xlink:href='./assets/sprite.svg#icon-arrow-up')
                ul.level-3
                  li
                    a(href="#")
                      span куртки
                  li
                    a(href="#")
                      span бомберы
                  li
                    a(href="#")
                      span пуховики
              
              li
                a(href="#")
                  span толстовки
              li
                a(href="#")
                  span платья
              li
                a(href="#")
                  span футболки
              li
                a(href="#")
                  span костюмы
              li
                a(href="#")
                  span брюки
              li
                a(href="#")
                  span аксессуары
                  svg(width='16' height='16' role='img' aria-hidden='true' focusable='false')
                    use(xlink:href='./assets/sprite.svg#icon-arrow-up')
                  
                ul.level-3
                  li
                    a(href="#")
                      span все товары
              li
                a(href="#")
                  span все товары
          
          li
            a(href="#").base-subtitle
              span покупателям
              svg(width='16' height='16' role='img' aria-hidden='true' focusable='false')
                use(xlink:href='./assets/sprite.svg#icon-arrow-up')
          li
            a(href="#").base-subtitle
              span о нас
              svg(width='16' height='16' role='img' aria-hidden='true' focusable='false')
                use(xlink:href='./assets/sprite.svg#icon-arrow-up')
        ul.top-multilevel-menu__main-list(data-toggler="men")
          li
            a(href="#").base-subtitle
              span Каталог М
              svg(width='16' height='16' role='img' aria-hidden='true' focusable='false')
                use(xlink:href='./assets/sprite.svg#icon-arrow-up')
            ul.level-2
              li
                a(href="#").base-subtitle
                  span весенняя подборка
              li
                a(href="#").base-subtitle
                  span новинки
                  svg(width='16' height='16' role='img' aria-hidden='true' focusable='false')
                    use(xlink:href='./assets/sprite.svg#icon-arrow-up')
              li
                a(href="#").base-subtitle
                  span sales
              li
                a(href="#").base-subtitle
                  span популярное
              li
                a(href="#")
                  span боди
              li
                a(href="#")
                  span верхняя одежда
                  svg(width='16' height='16' role='img' aria-hidden='true' focusable='false')
                    use(xlink:href='./assets/sprite.svg#icon-arrow-up')
                ul.level-3
                  li
                    a(href="#")
                      span куртки
                  li
                    a(href="#")
                      span бомберы
                  li
                    a(href="#")
                      span пуховики
              
              li
                a(href="#")
                  span толстовки
              li
                a(href="#")
                  span платья
              li
                a(href="#")
                  span футболки
              li
                a(href="#")
                  span костюмы
              li
                a(href="#")
                  span брюки
              li
                a(href="#")
                  span аксессуары
                  svg(width='16' height='16' role='img' aria-hidden='true' focusable='false')
                    use(xlink:href='./assets/sprite.svg#icon-arrow-up')
                ul.level-3
                  li
                    a(href="#")
                      span все товары
              li
                a(href="#")
                  span все товары
          
          li
            a(href="#").base-subtitle
              span покупателям
              svg(width='16' height='16' role='img' aria-hidden='true' focusable='false')
                use(xlink:href='./assets/sprite.svg#icon-arrow-up')
          li
            a(href="#").base-subtitle
              span о нас
              svg(width='16' height='16' role='img' aria-hidden='true' focusable='false')
                use(xlink:href='./assets/sprite.svg#icon-arrow-up')

        .top-multilevel-menu__list-wrapper.desktop-only
          span.base-subtitle Каталог
          <ul> 
            <li><a href="#">женщинам</a></li>
            <li><a href="#">мужчинам</a></li>
            <li><a href="#">аксессуары</a></li>
            <li><a href="#">весеняя подборка</a></li>
            <li><a href="#">базовый гардероб</a></li>
            <li><a href="#">зимняя подборка</a></li>
          </ul>
        .top-multilevel-menu__list-wrapper.desktop-only
          span.base-subtitle Покупателям
          <ul> 
            <li><a href="#">доставка и оплата</a></li>
            <li><a href="#">обмен и возврат</a></li>
            <li><a href="#">состав и уход</a></li>
            <li><a href="#">размерная сетка</a></li>
            <li><a href="#">программа лояльности</a></li>
            <li><a href="#">подарочный сертификат</a></li>
          </ul>
        .top-multilevel-menu__list-wrapper.desktop-only
          span.base-subtitle О нас
          <ul> 
            <li><a href="#">о бренде</a></li>
            <li><a href="#">события</a></li>
            <li><a href="#">вакансии</a></li>
            <li><a href="#">оффлайн магазины</a></li>
          </ul>
        
        .top-multilevel-menu__info
          .top-multilevel-menu__info-field.top-multilevel-menu__info-field--city
            span.base-subtitle Ваш город 
            +main-btn({
              tag: 'a',
              href: "#",
              title: 'Санкт-Петербург',
              cls: 'btn btn-thin underlined reversed',
              icon: 'pin'
            })
          .top-multilevel-menu__info-field.top-multilevel-menu__info-field--contacts.mobile-only
            span.base-subtitle контакты для связи
            +main-btn({
              tag: 'a',
              href: "#",
              title: '8 (804) 700 74 74',
              cls: 'btn btn-thin underlined reversed',
              icon: 'phone'
            })
            +main-btn({
              tag: 'a',
              href: "#",
              title: 'чат в телеграм',
              cls: 'btn btn-thin underlined reversed',
              icon: 'tg'
            })
            +main-btn({
              tag: 'a',
              href: "#",
              title: 'чат в whatsapp',
              cls: 'btn btn-thin underlined reversed',
              icon: 'whatsapp'
            })

      .top-multilevel-menu__grid-item.top-multilevel-menu__grid-item--bottom
        include ../../../blocks/certificate-block/certificate-block

      .top-multilevel-menu__grid-item.top-multilevel-menu__grid-item--side
        +base-card({
          img: {
            name: 'menu-mock-img-1',
            width: 480,
            height: 705
          },
          title: {
            text: 'магазины',
            icon: true
          }
        })
        +base-card({
          img: {
            name: 'menu-mock-img-2',
            width: 480,
            height: 705
          },
          title: {
            text: 'О бренде',
            icon: true
          }
        })
          