<div class="range">
  <div class="range-top">
    <label class="range-input">
      <input type="text" placeholder="1990">
    </label>

    <label class="range-input">
      <input type="text" placeholder="105 269">
    </label>
  </div>

  <div class="range-slider">
    <div class="range-slider__track-inner bx_ui_slider_pricebar_V"></div>
    <div class="range-slider__track"></div>
    <button type="button" class="range-slider__handle range-slider__handle--left"></button>
    <button type="button" class="range-slider__handle range-slider__handle--right"></button>
  </div>
</div>