.royalty
  span.base-subtitle Отсканируйте код для того, чтобы подписаться на программу лояльности
  span.base-text Скидка -10% при оформлении первого заказа
  img(src="./assets/img/qr.png" alt="код" width="155" height="140") 