@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;
@forward "@styles/_extends/flexbox.scss";

.top-banner {
	.swiper-slide img {
		width: 100%;
		height: 100vh;
		height: 100dvh;
		max-height: 1080px;
		object-fit: cover;
		object-position: top;
	}
}
