@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;
@forward "@styles/_extends/flexbox.scss";

.top-banner-slider {
	width: 100%;
	max-width: 100vw;
	.swiper {
		position: relative;
		&-slide {
			position: relative;
			width: 100%;
			height: 100vh;
			height: -webkit-fill-available;
			height: 100svh;
			max-height: 1080px;
		}

		&-pagination {
			@extend %flex-align;
			gap: clamp(2px, 0.6vw, 10px);
			padding: 20px 0;

			&-bullet {
				flex-grow: 1;
				height: 2px;
				margin: 0;
				border-radius: 0;
				background-color: var(--muted);

				&-active {
					background-color: var(--primary);
				}
			}
		}

		&-navigation {
			display: none;
		}

		@include container-up("main", $tablet-width) {
			&-navigation {
				display: block;
				.swiper-button {
					position: absolute;
					top: 50%;

					background-color: var(--white);
					z-index: 11;

					&-next {
						right: 40px;
						transform: translateY(-50%);
					}

					&-prev {
						left: 40px;
						transform: translateY(-50%) rotate(-180deg);
					}
				}
			}
		}
	}
}

.top-banner {
	@extend %flex-column;
	gap: 20px;
	height: 100%;
	padding: 80px 20px;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		max-width: 100vw;
		height: 100%;
		// height: 100vh;
		// height: -webkit-fill-available;
		// height: 100svh;
		// max-height: 1080px;
		object-fit: cover;
		object-position: top;
		z-index: -1;
		will-change: auto;
	}

	&__content {
		@extend %flex-center;
		gap: 12px;
		margin-top: auto;

		& > * {
			margin: 0;
			text-align: center;
			color: var(--light);
		}
	}

	&__footer {
		@extend %flex-center;
		gap: 10px;
	}
}
