section.hero
  .container-fluid
    .top-banner
      .swiper
        .swiper-wrapper
          .swiper-slide
            img(src="./assets/img/top-banner@1x.png" alt="новая коллекция’25" width="1920" height="1080")
    
      
        

