include ../../components/_ui/buttons/main-btn/btn

section
  .container-fluid
    .swiper.top-banner-slider
      .swiper-wrapper
        .swiper-slide
          .top-banner
            img(src="./assets/img/top-banner@1x.png" alt="новая коллекция’25" width="1920" height="1080")
            .top-banner__content
              h1.main-title Новая коллекция’25
            .top-banner__footer
              +main-btn({
                tag: 'a',
                href: "#",
                title: 'Женщинам',
                cls: 'btn-light',
                icon: 'arrow-up'
              })
              +main-btn({
                tag: 'a',
                href: "#",
                title: 'Мужчинам',
                cls: 'btn-light',
                icon: 'arrow-up'
              })
        .swiper-slide
          .top-banner
            img(src="./assets/img/top-banner@1x.png" alt="новая коллекция’25" width="1920" height="1080")
            .top-banner__content
              h1.main-title Новая коллекция’25
            .top-banner__footer
              +main-btn({
                tag: 'a',
                href: "#",
                title: 'Женщинам',
                cls: 'btn-light',
                icon: 'arrow-up'
              })
              +main-btn({
                tag: 'a',
                href: "#",
                title: 'Мужчинам',
                cls: 'btn-light',
                icon: 'arrow-up'
              })
        .swiper-slide
          .top-banner
            img(src="./assets/img/top-banner@1x.png" alt="новая коллекция’25" width="1920" height="1080")
            .top-banner__content
              h1.main-title Новая коллекция’25
            .top-banner__footer
              +main-btn({
                tag: 'a',
                href: "#",
                title: 'Женщинам',
                cls: 'btn-light',
                icon: 'arrow-up'
              })
              +main-btn({
                tag: 'a',
                href: "#",
                title: 'Мужчинам',
                cls: 'btn-light',
                icon: 'arrow-up'
              })
        
      .swiper-pagination
      include ../../components/_ui/swiper-navigation/swiper-navigation
    
      
        

