include ../../components/_ui/buttons/main-btn/main-btn

section
  .container-fluid
    .swiper.top-banner-slider
      .swiper-wrapper
        .swiper-slide
          .top-banner
            img(src="./assets/img/top-banner@1x.png" alt="новая коллекция’25" width="1920" height="1080")
            .top-banner__content
              h1.main-title Новая коллекция’25
            .top-banner__footer
              +main-btn({
                title: 'Женщинам',
                cls: 'outlined light',
                iconAfter: true
              })
              +main-btn({
                title: 'Мужчинам',
                cls: 'outlined light',
                iconAfter: true
              })
        .swiper-slide
          .top-banner
            img(src="./assets/img/top-banner@1x.png" alt="новая коллекция’25" width="1920" height="1080")
            .top-banner__content
              h1.main-title Новая коллекция’25
            .top-banner__footer
              +main-btn({
                title: 'Женщинам',
                cls: 'outlined light',
                iconAfter: true
              })
              +main-btn({
                title: 'Мужчинам',
                cls: 'outlined light',
                iconAfter: true
              })
        .swiper-slide
          .top-banner
            img(src="./assets/img/top-banner@1x.png" alt="новая коллекция’25" width="1920" height="1080")
            .top-banner__content
              h1.main-title Новая коллекция’25
            .top-banner__footer
              +main-btn({
                title: 'Женщинам',
                cls: 'outlined light',
                iconAfter: true
              })
              +main-btn({
                title: 'Мужчинам',
                cls: 'outlined light',
                iconAfter: true
              })
        .swiper-slide
          .top-banner
            img(src="./assets/img/top-banner@1x.png" alt="новая коллекция’25" width="1920" height="1080")
            .top-banner__content
              h1.main-title Новая коллекция’25
            .top-banner__footer
              +main-btn({
                title: 'Женщинам',
                cls: 'outlined light',
                iconAfter: true
              })
              +main-btn({
                title: 'Мужчинам',
                cls: 'outlined light',
                iconAfter: true
              })
        .swiper-slide
          .top-banner
            img(src="./assets/img/top-banner@1x.png" alt="новая коллекция’25" width="1920" height="1080")
            .top-banner__content
              h1.main-title Новая коллекция’25
            .top-banner__footer
              +main-btn({
                title: 'Женщинам',
                cls: 'outlined light',
                iconAfter: true
              })
              +main-btn({
                title: 'Мужчинам',
                cls: 'outlined light',
                iconAfter: true
              })
        .swiper-slide
          .top-banner
            img(src="./assets/img/top-banner@1x.png" alt="новая коллекция’25" width="1920" height="1080")
            .top-banner__content
              h1.main-title Новая коллекция’25
            .top-banner__footer
              +main-btn({
                title: 'Женщинам',
                cls: 'outlined light',
                iconAfter: true
              })
              +main-btn({
                title: 'Мужчинам',
                cls: 'outlined light',
                iconAfter: true
              })
        .swiper-slide
          .top-banner
            img(src="./assets/img/top-banner@1x.png" alt="новая коллекция’25" width="1920" height="1080")
            .top-banner__content
              h1.main-title Новая коллекция’25
            .top-banner__footer
              +main-btn({
                title: 'Женщинам',
                cls: 'outlined light',
                iconAfter: true
              })
              +main-btn({
                title: 'Мужчинам',
                cls: 'outlined light',
                iconAfter: true
              })
      .swiper-pagination
    
      
        

