.swiper-navigation
  button(type="button" aria-label='Назад').swiper-button.swiper-button-prev
    svg(width='16' height='16' role='img' aria-hidden='true' focusable='false')
      use(xlink:href=`./assets/sprite.svg#icon-slider-arrow`)
  button(type="button" aria-label='Вперед').swiper-button.swiper-button-next
    svg(width='16' height='16' role='img' aria-hidden='true' focusable='false')
      use(xlink:href=`./assets/sprite.svg#icon-slider-arrow`)