@forward "@styles/_extends/flexbox.scss";
// @forward '@styles/_extends/effects.scss';
// @forward '@styles/_extends/resets.scss';
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.events-preview {
	container: event-preview / inline-size;

	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;

		@include container-up("event-preview", $tablet-width) {
			grid-template-columns: repeat(2, 1fr);
			gap: 40px;
		}

		&-item {
			@extend %flex-column;
			gap: 20px;
			min-width: 0; // Нужно чтобы свайпер работал в гридах !!!

			.subscribe {
				margin-top: auto;
			}

			.swiper {
				width: 100%;
			}
		}
	}
}
