@forward "@styles/_extends/flexbox.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.events-preview {
	container: event-preview / inline-size;

	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;

		@include container-up("event-preview", $tablet-lg-width) {
			grid-template-columns: repeat(2, 1fr);
			gap: clamp(20px, 3vw, 40px) 0;
		}

		&-item {
			@extend %flex-column;
			gap: 20px;
			min-width: 0; // Нужно для того, чтобы свайпер работал в гридах !!!

			&--banner {
				display: none; //temp!!
				.base-card {
					&-wrapper {
						height: 100%;
					}

					img {
						height: 100%;
						aspect-ratio: 5/7;

						@include container-up("main", $mobile-width) {
							aspect-ratio: 10/7;
						}
					}
				}

				@include container-up("event-preview", $tablet-lg-width) {
					padding-right: 20px;
				}
			}

			&--side {
				.base-card {
					@include container-down("main", $tablet-lg-width) {
						img {
							aspect-ratio: 2/3;
						}
					}
				}
			}

			.subscribe {
				margin-top: auto;
			}

			.swiper {
				width: 100%;
			}
		}
	}
}
