extends ../../layouts/base-section/base-section.pug
block variables
  - sectionClass = 'events-preview'
  - sectionContainerClass = ''
  - sectionTitle = 'События'
  - hideSectionHeader = false
block content
  include ../../components/_ui/sliders/base-slider/base-slider
  include ../../components/_ui/cards/base-card/base-card

  .events-preview__grid
    .events-preview__grid-item
      //+base-card({
        img: {
          name: 'banner-mock',
          width: 920,
          height: 920
        },

        headline: '1 марта 2025',

        title: {
          text: 'Открытие UB в ТЦ, г. Москва'
        }
        })
      
    .events-preview__grid-item.events-preview__grid-item--side
      //+base-slider({
        items: [
          {
            cls: 'base-card--column',
            img: {
              name: 'mock-img-3',
              width: 480,
              height: 480
            },

            headline: '1 марта 2025',
            title: {
              text: 'Новая коллекция'
            }
          },
          {
            cls: 'base-card--column',
            img: {
              name: 'mock-img-4',
              width: 480,
              height: 480
            },

            headline: '1 марта 2025',
            title: {
              text: 'Весенняя распродажа'
            }
          },
          {
            cls: 'base-card--column',
            img: {
              name: 'mock-img-3',
              width: 480,
              height: 480
            },

            headline: '1 марта 2025',
            title: {
              text: 'Новая коллекция'
            }
          },
          {
            cls: 'base-card--column',
            img: {
              name: 'mock-img-4',
              width: 480,
              height: 480
            },

            headline: '1 марта 2025',
            title: {
              text: 'Весенняя распродажа'
            }
          },
          
        ]
        })
      
      include ../../components/blocks/subscribe-block/subscribe-block
      

  
  