mixin main-head(title, descriprion)
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title!= title
    meta(name="description" content!= descriprion)

    if styles
      each style in styles
        link(rel="stylesheet" href!=`${style}.scss`)
    script(defer src=`/js/main.js` type="module")

