// stylelint-disable
@use "../_vars/scoped";

// down
@mixin container-down($name, $width) {
	@container #{$name} (max-width: #{calc($width - 1px)}) {
		@content;
	}
}

// up
@mixin container-up($name, $width) {
	@container #{$name} (min-width: #{$width} ) {
		@content;
	}
}
