@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	width: 100dvw;
	height: 100vh;
	height: 100dvh;
	background: none;
	backdrop-filter: none;
	visibility: hidden;
	opacity: 0;
	z-index: -1;
	transition: opacity 0.2s linear, backdrop-filter 0.2s linear,
		background-color 0.2s linear;
	will-change: auto;

	&.active {
		visibility: visible;
		opacity: 1;
		z-index: 101;
		background: linear-gradient(
			0deg,
			rgba(53, 56, 58, 0.4),
			rgba(53, 56, 58, 0.4)
		);
		backdrop-filter: blur(2px);

		.modal-content {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}

		.modal-closer {
			visibility: visible;
			opacity: 1;
			transform: translateY(0);
		}
	}

	.modal-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		@extend %flex-column;
		width: 100%;
		max-width: 90vw;
		max-width: 90svw;
		height: fit-content;
		padding: 20px;
		background-color: var(--white);
		will-change: auto;
	}

	.modal-header {
		@extend %flex-align;
		justify-content: space-between;
		gap: 0 20px;
	}

	.modal-content {
		width: 100%;
		height: fit-content;
		overflow: hidden;
		overflow-y: auto;
		background-color: var(--white);
		visibility: hidden;
		opacity: 0;
		// transition: visibility 0.4s linear, opacity 0.4s linear,
		// 	transform 0.4s linear;
	}

	.modal-closer {
		@extend %btn-reset;
		// position: absolute;
		// top: 0;
		// right: 0;
		width: 60px;
		height: 60px;
		min-height: initial;
		// padding: 0;
		z-index: 3;
		// visibility: hidden;
		// opacity: 0;
		// transform: translateY(50px);
		// transition: visibility 0.4s linear, opacity 0.4s linear,
		// 	transform 0.4s linear;

		svg {
			fill: var(--primary);
			width: 24px;
			height: 24px;
		}
	}
}
