extends ./pug/layouts/main-layout

block variables
  -
    const title = "Urban"
    const description = ""
    const keywords = ""
    const styles = ['./styles/template-styles','./styles/index']

block content
  include ./pug/sections/top-banner/top-banner
  include ./pug/sections/catalog-preview/new
  include ./pug/sections/catalog-preview/categories
  include ./pug/sections/catalog-preview/сollections
  include ./pug/sections/catalog-preview/bestsellers
  include ./pug/sections/catalog-preview/sections
  include ./pug/sections/events-preview/events-preview
  
  