extends ./pug/layouts/main-layout

block variables
  -
    const title = "impress"
    const description = ""
    const keywords = ""
    const styles = ['./styles/template-styles','./styles/index']

block content
  include ./pug/sections/hero/hero
  
  