extends ./pug/layouts/main-layout

block variables
  -
    const title = "Urban"
    const description = ""
    const keywords = ""
    const styles = ['./styles/template-styles','./styles/index']

block content
  include ./pug/sections/top-banner/top-banner
  include ./pug/sections/catalog-preview/catalog-preview-slider
  //- include ./pug/sections/catalog-preview/catalog-preview
  include ./pug/sections/catalog-preview/catalog-preview-slider-bottom
  include ./pug/sections/catalog-preview/catalog-preview-bottom
  include ./pug/sections/events-preview/events-preview
  
  