include ../../cards/base-card/base-card

mixin base-slider(data)
  .swiper.base-slider
    .swiper-wrapper
      each item in data.items
        .swiper-slide
          +base-card(item)
    
    if data.navigation
      .swiper-navigation
        button(type="button" aria-label="Назад").swiper-button-prev
        button(type="button" aria-label="Вперед").swiper-button-next
