include ../../cards/base-card/base-card
include ../../cards/product-card/product-card

mixin base-slider(data)
  .swiper.base-slider(class= data.cls ? data.cls : null)
    .swiper-wrapper
      each item in data.items
        .swiper-slide
          if data.type == 'product-card-slider'
            +product-card(item)
          else
            +base-card(item)
    
    if data.navigation
      .swiper-navigation
        button(type="button" aria-label="Назад").swiper-button-prev
        button(type="button" aria-label="Вперед").swiper-button-next
