.size-table
  .size-table__grid
    .size-table__grid-item
      span.base-text Международный размер
      span.base-text xs
      span.base-text s
      span.base-text m
      span.base-text l
      span.base-text xl
    .size-table__grid-item
      span.base-text Российский размер
      span.base-text 42
      span.base-text 44
      span.base-text 46
      span.base-text 48
      span.base-text 50
    .size-table__grid-item
      span.base-text Обвхат груди
      span.base-text 84
      span.base-text 88
      span.base-text 92
      span.base-text 96
      span.base-text 100 
    .size-table__grid-item
      span.base-text Обвхат талии
      span.base-text 65
      span.base-text 69
      span.base-text 73
      span.base-text 77
      span.base-text 81 
    .size-table__grid-item
      span.base-text Обвхат бедер
      span.base-text 92
      span.base-text 96
      span.base-text 100
      span.base-text 104
      span.base-text 106