@use "@pug/components/blocks/royalty/royalty";
@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.footer {
	padding: 40px 0 30px;

	@include container-up("main", $tablet-width) {
		padding: 40px 20px 30px;
	}

	@include container-up("main", $tablet-lg-width) {
		padding: 40px 0 30px;
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr;

		@include container-up("main", $mobile-width) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include container-up("main", $tablet-width) {
			grid-template-columns: 150px 1fr 1fr 1fr 1fr;
			gap: 40px 20px;
		}

		@include container-up("main", $tablet-lg-width) {
			grid-template-columns: 150px 1fr 1fr 1fr 1fr 150px;
			gap: 40px 0;
		}

		&-item {
			// outline: 1px solid red;

			&-field {
				@extend %flex-column;
				gap: 14px;
				// outline: 1px solid red;

				&--contacts {
					display: grid;
					grid-template-columns: 1fr;
					gap: 0;

					@include container-up("main", $mobile-width) {
						gap: 40px;
					}

					@include container-up("main", 1320px) {
						grid-template-columns: max-content max-content;
						grid-column: -1/1;
					}

					@include container-up("main", 1720px) {
						grid-template-columns: 1fr;
						grid-column: revert;
					}
				}
			}

			.contacts-block,
			.social-block {
				text-transform: uppercase;
			}

			&--main {
				@include container-up("main", $mobile-width) {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					grid-column: -1/1;
					gap: 40px 20px;
					padding: 20px;
					margin-bottom: 20px;
				}

				@include container-up("main", $tablet-width) {
					grid-template-columns: 150px 1fr;
					grid-column: revert;
					gap: 40px;
					padding: 0;
					margin: 0;

					grid-column: 1 / 4;
				}

				@include container-up("main", $tablet-lg-width) {
					padding: 0 20px;
				}

				@include container-up("main", 1320px) {
					grid-template-columns: 150px max-content max-content;
				}

				@include container-up("main", 1720px) {
					grid-template-columns: 150px max-content max-content max-content;
				}
			}

			&--info {
				display: grid;
				grid-template-columns: 1fr;
				gap: 5px 0;

				.footer__grid-item-field {
					gap: 5px;
				}

				@include container-down("main", $tablet-width) {
					padding: 40px 20px 0;
				}

				@include container-up("main", $mobile-width) {
					grid-template-columns: repeat(2, 1fr);
					grid-column: -1/1;
					gap: 20px;
				}

				@include container-up("main", $tablet-width) {
					grid-template-columns: 150px 1fr 1fr 1fr 1fr;
					gap: 40px;

					.footer__grid-item-field:nth-child(2) {
						grid-column: 2/4;
					}

					.footer__grid-item-field:nth-child(3) {
						grid-column: 4 / 6;
						margin-left: -20px;
					}
				}

				@include container-up("main", $tablet-lg-width) {
					grid-template-columns: 150px 1fr 1fr 1fr 1fr 150px;
					padding: 0 20px;
				}

				@include container-up("main", 1720px) {
					grid-template-columns: 150px max-content max-content;
					grid-column: 1 / 4;

					.footer__grid-item-field:nth-child(2) {
						grid-column: revert;
					}

					.footer__grid-item-field:nth-child(3) {
						grid-column: revert;
						margin-left: 0;
					}
				}
			}

			&--side {
				grid-column: -1/1;

				@include container-up("main", $tablet-width) {
					max-height: 340px;
					grid-column: 4 / 6;
				}

				@include container-up("main", $tablet-lg-width) {
					padding-right: 20px;
				}

				@include container-up("main", $tablet-lg-width) {
					grid-column: 4 / 7;
				}

				@include container-up("main", 1720px) {
					grid-row: 1 / 3;

					.royalty {
						max-width: 75%;
						margin-left: auto;
					}
				}
			}
		}
	}

	& .accordeon {
		&-item {
			@include container-up("main", $mobile-width) {
				pointer-events: none;
				gap: 14px;
			}

			&.expanded .accordeon-body .content-block {
				padding: 20px;

				@include container-up("main", $mobile-width) {
					padding: 0;
					gap: 14px;
				}
			}
		}

		&-header {
			.base-subtitle {
				font-size: 16px;
			}

			min-height: 60px;
			padding: 10px 20px;

			@include container-up("main", $mobile-width) {
				min-height: fit-content;
				padding: 0;
				border-bottom: 0;

				.accordeon-opener {
					display: none;
				}
			}
		}

		&-body {
			@include container-up("main", $mobile-width) {
				grid-template-rows: 1fr;
				opacity: 1;
			}

			.content-block {
				@extend %flex-column;
				gap: 14px;
				font-size: 14px;

				@include container-down("main", $mobile-width) {
					align-items: center;
					text-align: center;
					padding: 0 20px;
					ul {
						align-items: center;
						text-align: center;
					}
				}
			}
		}
	}
}
