include ../../components/_ui/nav/bottom-menu/bottom-menu

footer.footer
  .container-fluid
    .footer__grid
      .footer__grid-item.footer__grid-item--nav
        +bottom-menu({
          title: 'каталог',
          items: [
            { title: 'женщинам' },
            { title: 'мужчинам' },
            { title: 'аксессуары' },
            { title: 'весеняя подборка' },
            { title: 'базовый гардероб' },
            { title: 'зимняя подборка' },
          ]
        })
      .footer__grid-item.footer__grid-item--nav
        +bottom-menu({
          title: 'покупателям',
          items: [
            { title: 'доставка и оплата' },
            { title: 'обмен и возврат' },
            { title: 'состав и уход' },
            { title: 'программа лояльности' },
            { title: 'подарочный сертификат' }
          ]
        })
      .footer__grid-item.footer__grid-item--nav
        +bottom-menu({
          title: 'О нас',
          items: [
            { title: 'о бренде' },
            { title: 'события' },
            { title: 'вакансии' },
            { title: 'офлайн магазины' }
          ]
        })
      .footer__grid-item.footer__grid-item--contacts
        .footer__grid-item-field
          span.base-subtitle Контакты
          a(href="tel:88047007474").base-text 8 (804) 700 74 74
          a(href="mailto:support@urbanboris.com").base-text support@urbanboris.com

        .footer__grid-item-field
          span.base-subtitle Социальные сети
          a(href="#").base-text telegram
          a(href="#").base-text вконтакте

      .footer__grid-item.footer__grid-item--side
        include ../../components/blocks/royalty/royalty
      .footer__grid-item.footer__grid-item--info
        .footer__grid-item-field
          a(href="#").base-text Карта сайта
          span.base-text ©UB 2020-2025
        .footer__grid-item-field
          a(href="#").base-text Дизайн
          a(href="#").base-text Создание сайта
        .footer__grid-item-field
          a(href="#").base-text Политика конфиденциальности
          a(href="#").base-text Оферта
    