@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

@use "@pug/components/_ui/badge/badge";
@use "@pug/components/_ui/buttons/color-picker-btn-row/color-picker-btn-row";
@use "@pug/components/_ui/price-row/price-row";

.product-card {
	position: relative;
	@extend %flex-column;
	gap: 10px;
	height: 100%;

	&-inner-slider.swiper {
		z-index: 10;
		.swiper-slide {
			width: 100% !important;
			height: auto;
			container: product-card-slider / inline-size;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.swiper-pagination {
			display: none;
			@include container-up("main", $mobile-width) {
				display: flex;
				align-items: center;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				&-bullet {
					position: relative;
					flex-grow: 1;
					height: 100%;
					margin: 4px;
					border-radius: 0;
					background-color: transparent;

					&::before {
						position: absolute;
						top: 10px;
						left: 0;
						width: 100%;
						height: 2px;
						content: "";
						margin: 0;
						border-radius: 0;
						background-color: var(--gray);
					}

					&-active::before {
						background-color: var(--primary);
					}
				}
			}
		}
	}

	&__header {
		position: relative;
		margin-bottom: 10px;
		background-color: var(--light);
		overflow: hidden;

		.badge {
			position: absolute;
			top: 20px;
			left: 20px;
			z-index: 11;
		}

		.btn-fav {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 11;
		}

		& .btn-cart-wide {
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 11;

			@include container-up("main", $tablet-width) {
				bottom: -140px;
				right: 20px;
				max-width: calc(100% - 40px);
				transition: bottom var(--main-transition);
			}
		}

		@include container-up("main", $tablet-width) {
			&:hover {
				.btn-cart-wide {
					bottom: 20px;
				}
			}

			&:focus {
				.btn-cart-wide {
					bottom: 20px;
				}
			}
		}
	}

	.product-cart__props-row {
		position: absolute;
		bottom: -140px;
		right: 20px;

		@extend %flex-center;
		gap: 10px;

		width: 100%;
		min-height: 60px;
		max-width: calc(100% - 40px);
		transition: bottom var(--main-transition);
		z-index: 11;

		background: rgba(53, 56, 58, 0.2);
		backdrop-filter: blur(2.5px);

		&.active {
			bottom: 20px;
		}

		.btn {
			width: 40px;
			min-width: 40px;
			height: 40px;
			min-height: revert;
			aspect-ratio: 1/1;
			padding: 8px;
			background-color: transparent;

			&.active {
				background-color: var(--white);
			}
		}

		@include container-down("main", $mobile-width) {
			display: none; // TEMP!! должна быть модалка
		}
	}

	&:has(.product-cart__props-row.active) .btn-cart-wide {
		transform: translateY(140px);
	}

	&__main {
		@extend %flex-column;
		gap: 5px;
		align-items: center;
		text-align: center;
		padding: 0 10px;
		flex-grow: 1;
	}

	&__title {
		text-transform: uppercase;
		margin-bottom: auto;
	}
}
