@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

@use "@pug/components/_ui/badge/badge";
@use "@pug/components/_ui/buttons/color-picker-btn-row/color-picker-btn-row";

// вынести в отдельный компонент!!

.product-card {
	@extend %flex-column;
	gap: 10px;
	height: 100%;

	&-inner-slider.swiper {
		.swiper-slide {
			height: auto;
			container: product-card-slider / inline-size;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.swiper-pagination {
			display: none;
			@include container-up("main", $mobile-width) {
				display: flex;
				align-items: center;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 10;

				&-bullet {
					position: relative;
					flex-grow: 1;
					height: 100%;
					margin: 0;
					border-radius: 0;
					background-color: transparent;

					&::before {
						position: absolute;
						top: 10px;
						left: 0;
						width: 100%;
						height: 2px;
						content: "";
						margin: 0;
						border-radius: 0;
						background-color: var(--muted);
					}

					&-active::before {
						background-color: var(--primary);
					}
				}
			}
		}
	}

	&__add-cart-btn.btn {
		// Убрать в отдельный компоненет со всеми состояниями!
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 11;
		background-color: transparent;

		svg {
			width: 24px;
			height: 24px;
			fill: transparent;
			stroke: var(--primary);
		}

		span {
			display: none;
		}

		@include container-down("main", $tablet-width) {
			transition: none;
			@media (hover: hover) {
				&:hover {
					background-color: transparent;
				}
			}
			&:focus {
				background-color: transparent;
			}
			svg {
				stroke: var(--primary);
			}
		}

		@include container-up("main", $tablet-width) {
			bottom: 20px;
			left: 20px;
			z-index: 12;
			width: 100%;
			max-width: calc(100% - 40px);
			background-color: rgba(53, 56, 58, 0.8);
			color: var(--light);

			svg {
				display: none;
			}

			span {
				display: flex;
			}

			@media (hover: hover) {
				&:hover {
					background-color: transparent;
				}
			}
			&:focus {
				background-color: transparent;
			}
		}
	}

	&__header {
		position: relative;
		margin-bottom: 10px;
		background-color: var(--light);
		overflow: hidden;

		.badge {
			position: absolute;
			top: 20px;
			left: 20px;
			z-index: 11;
		}

		.btn-fav {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 11;
		}

		& .btn-cart-wide {
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 11;

			@include container-up("main", $tablet-width) {
				bottom: 20px;
				right: 20px;
				max-width: calc(100% - 40px);
			}
		}
	}

	&__main {
		@extend %flex-column;
		gap: 5px;
		align-items: center;
		text-align: center;
		padding: 0 10px;
		flex-grow: 1;
	}

	&__title {
		text-transform: uppercase;
		margin-bottom: auto;
	}

	&__price {
		font-style: 16px;
		font-weight: 700;
		color: var(--primary);

		&-wrapper {
			@extend %flex-align;
			gap: 10px;
		}

		&--old {
			color: var(--accent);

			& + .product-card__price {
				font-size: 14px;
				font-weight: 400;
				text-decoration: line-through;
			}
		}
	}
}
