@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_mixins/media-queries" as *;
@use "@styles/_vars/scoped" as *;

@use "@pug/components/_ui/badge/badge";
@use "@pug/components/_ui/buttons/color-picker-btn-row/color-picker-btn-row";
@use "@pug/components/_ui/price-row/price-row";
@use "@pug/components/_ui/modals/size-modal/size-modal";

.product-card {
	position: relative;
	@extend %flex-column;
	gap: 10px;
	height: 100%;
	container: product-card / inline-size;
	will-change: auto;

	&-inner-slider.swiper {
		z-index: 10;
		.swiper-slide {
			width: 100% !important;
			height: auto;
			container: product-card-slider / inline-size;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		@include container-down("main", $mobile-width) {
			.swiper-pagination {
				display: none;
			}
		}
	}

	&__header {
		position: relative;
		margin-bottom: 10px;
		background-color: var(--light);
		overflow: hidden;

		.badge {
			position: absolute;
			top: 20px;
			left: 20px;
			z-index: 11;

			@include container-down("product-card", 240px) {
				top: 10px;
				left: 10px;
			}
		}

		.btn-fav {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 11;
		}

		& .btn-cart-wide {
			position: absolute;
			bottom: 20px;
			right: 20px;
			padding: 20px 12px;
			max-width: calc(100% - 40px);
			will-change: auto;
			z-index: 11;
			transform: translateY(140px);
			transition: transform var(--main-transition);
			display: none;

			@include media-equal-up($tablet-lg-width) {
				display: flex;
			}
		}

		&:not(:has(.product-cart__props-row.active)):hover,
		&:not(:has(.product-cart__props-row.active)):focus {
			.btn-cart-wide {
				transform: translateY(0);
			}
		}

		& .btn-cart {
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 11;

			@include media-equal-up($tablet-lg-width) {
				display: none;
			}
		}
	}

	.product-cart__props-row {
		position: absolute;
		bottom: 20px;
		right: 20px;
		transform: translateY(140px);

		@extend %flex-center;
		gap: 10px;
		width: 100%;
		min-height: 60px;
		max-width: calc(100% - 40px);
		transition: transform var(--main-transition);
		will-change: auto;
		z-index: 11;

		background: rgba(53, 56, 58, 0.2);
		backdrop-filter: blur(2.5px);

		&.active {
			transform: translateY(0);
		}

		.btn {
			width: 40px;
			min-width: 40px;
			height: 40px;
			min-height: revert;
			aspect-ratio: 1/1;
			padding: 8px;
			background-color: transparent;

			&.active {
				background-color: var(--white);
			}
		}

		@include media-down($tablet-lg-width) {
			display: none;
		}
	}

	&__main {
		@extend %flex-column;
		gap: 5px;
		align-items: center;
		text-align: center;
		padding: 0 10px;
		flex-grow: 1;
	}

	&__title {
		text-transform: uppercase;
		margin-bottom: auto;

		@include container-down("product-card", 240px) {
			font-size: 12px;
		}
	}
}
