include ../../buttons/main-btn/btn
include ../../badge/badge
include ../../buttons/color-picker-btn-row/color-picker-btn-row
include ../../price-row/price-row

mixin product-card(data)
  .product-card
    .product-card__header
      if data.badge
        +badge({
          cls: data.badge.cls ? data.badge.cls : null,
          text: data.badge.text
        })
      //- +main-btn({
      //-   tag: 'button',
      //-   cls: 'btn-fav',
      //-   icon: 'fav' 
      //- })

      +main-btn({
        tag: 'button', 
        cls: 'btn-cart-wide',
        title: 'Добавить в корзину',
        icon: 'cart' 
      })

      .product-cart__props-row
        +main-btn({
          tag: 'button', 
          cls: 'size-chooser-btn',
          title: 'XS',
        })
        +main-btn({
          tag: 'button', 
          cls: 'size-chooser-btn active',
          title: 'S',
        })
        +main-btn({
          tag: 'button', 
          cls: 'size-chooser-btn',
          title: 'M',
        })
        +main-btn({
          tag: 'button', 
          cls: 'size-chooser-btn',
          title: 'L',
        })

      .swiper.product-card-inner-slider
        .swiper-wrapper
          each path in data.images
            .swiper-slide
              img(src=`./assets/img/${path}.png` alt= data.title width="480" height="705")
        .swiper-pagination.swiper-pagination--main
    
    .product-card__main
      span.base-text.product-card__title!= data.title
      .product-card__price-wrapper
        //- заменить на компонент из детальной товара!!
        +price-row ({ 
          old: '25 490 ₽',
          current: '11 490 ₽'
        })
        //- if data.oldPrice
        //-   span.product-card__price.product-card__price--old!= data.price
        //- span.product-card__price!= data.price
    
    .product-card__footer
      +color-picker-btn-row({
        items: [
          {
            label: 'Белый',
            hex: '#ffffff',
            isActive: true
          },
          {
            label: 'Синий',
            hex: '#363ef1'
          },
          {
            label: 'Черный',
            hex: '#000000'
          },
        ]
      })
