include ../../buttons/main-btn/btn
include ../../badge/badge
include ../../buttons/color-picker-btn-row/color-picker-btn-row
include ../../price-row/price-row
//- include ../../modals/size-modal/size-modal

mixin product-card(data)
  .product-card
    .product-card__header
      if data.badge
        +badge({
          cls: data.badge.cls ? data.badge.cls : null,
          text: data.badge.text
        })
      //- +main-btn({
      //-   tag: 'button',
      //-   cls: 'btn-fav',
      //-   icon: 'fav' 
      //- })

      +main-btn({
        tag: 'button', 
        cls: 'btn-cart size-modal-opener',
        icon: 'cart',
        modal: 'size-modal'
      })

      +main-btn({
        tag: 'button', 
        cls: 'btn-cart-wide',
        title: 'Добавить в корзину',
      })

      .product-cart__props-row
        +main-btn({
          tag: 'button', 
          cls: 'size-chooser-btn',
          title: 'XS',
        })
        +main-btn({
          tag: 'button', 
          cls: 'size-chooser-btn active',
          title: 'S',
        })
        +main-btn({
          tag: 'button', 
          cls: 'size-chooser-btn',
          title: 'M',
        })
        +main-btn({
          tag: 'button', 
          cls: 'size-chooser-btn',
          title: 'L',
        })

      .swiper.product-card-inner-slider
        .swiper-wrapper
          each path in data.images
            .swiper-slide
              img(src=`./assets/img/${path}.png` alt= data.title width="480" height="705")
        .swiper-pagination.swiper-pagination--main
    
    .product-card__main
      span.base-text.product-card__title!= data.title
      .product-card__price-wrapper
        +price-row ({ 
          old: data.priceOld ? data.priceOld : null,
          current: data.price
        })
    
    .product-card__footer
      +color-picker-btn-row({
        items: [
          {
            label: 'Белый',
            hex: '#ffffff',
            isActive: true
          },
          {
            label: 'Синий',
            hex: '#363ef1'
          },
          {
            label: 'Черный',
            hex: '#000000'
          },
        ]
      })

      <template class="size-modal-content">
        <div class="size-chooser">
          <button type="button">XS</button>
          <button type="button">S</button>
          <button type="button">M</button>
          <button type="button">L</button>
        </div>
      </template>