@use "./flexbox";

%btn-reset {
  @extend %flex-center;
  border: 1px solid transparent;
  padding: 0;
  background-color: transparent;
}

%list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

%fieldset-reset {
  margin: 0;
  padding: 0;
  border: none;
}
