// fonts
:root {
	--primary-font: "Montserrat", sans-serif;
}

// colors
:root {
	--white: #ffffff;
	--black: #000000;
	--primary: #7d3a3a;
	--secondary: #f4f1ed;
	--success: #b1c2ab;
	--dark: #222131;
	--light: #fdfcfb;
	--muted: #a9afb5;
}

// containers
:root {
	--content-width: 1440px;
	--container-offset: clamp(10px, 2vw, 60px);
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));
	--content-fluid-width: 1920px;
	--container-fluid-offset: 0;
	--container-fluid-width: calc(
		var(--content-fluid-width) + (var(--container-offset) * 2)
	);
}

// transitions
:root {
	--main-transition: 0.15s linear;
}

// site-base-options
:root {
	--site-base-font-family: var(--primary-font);
	--site-base-font-weight: 400;
	--site-base-font-size: clamp(16px, 2.2vw, 18px);
	--site-base-line-height: 1.2;
	--site-base-text-color: var(--dark);
	--site-bg-color: var(--light);
}

// scrollbar
:root {
	--scrollbar-color: var(--site-bg-color);
	--scrollbar-width: 12px;
	--scrollbar-border-radius: 0;
	--scrollbar-thumb-color: var(--primary);
	--scrollbar-thumb-border-radius: 0;
}

// offsets
:root {
	--section-offset-vertical: clamp(40px, 4vw, 100px);
	--grid-offset: clamp(16px, 3vw, 36px);
	--main-offset: 40px;
}

// utils
:root {
	--main-border-radius: 10px;
	--base-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
